<div class="page-header">
    <div class="page-header__container container">
        <div class="page-header__breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <ng-container *ngFor="let item of list, let i=index;">
                        <li class="breadcrumb-item">
                            <a [routerLink]="item.path" [queryParams]="item?.queryParams || {}" [queryParamsHandling]="item?.queryParamsHandling || undefined">{{item.title | localize}}</a> 
                            <ng-container *ngIf="i < list.length - 1">
                                <svg class="breadcrumb-arrow" width="6px" height="9px">
                                    <use xlink:href="images/svg/sprite.svg#arrow-rounded-right-6x9"></use>
                                </svg>
                            </ng-container>
                        </li>
                    </ng-container>
                </ol>
            </nav>
        </div>
        <div class="page-header__title">
            <h1 *ngIf="lastItem">{{lastItem.title | localize}}</h1>
        </div>
    </div>
</div>