<form class="mat-elevation-z8 filter-form">
  <div class="search-wrap">
    <mat-form-field class="search-form-input">
      <input type="text" placeholder="Search" matInput name="keyword" [(ngModel)]="query.keyword" autocomplete="off">
    </mat-form-field>
    <button mat-button (click)="updateSearch()">
      <mat-icon>search</mat-icon>
    </button>

  </div>




  <!-- <div>
      <mat-form-field class="period">
          <mat-label>Time Period</mat-label>
          <mat-select [(value)]="selectedTimePeriod" (selectionChange)="changePeriod($event)">
            <mat-option *ngFor="let period of timePeriods" [value]="period.value">
              {{period.viewName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
  </div> -->

  <mat-paginator class="paginator" [length]="numTotal" [pageIndex]="query.page - 1" [pageSize]="query.limit"
    [pageSizeOptions]="[10, 20, 50, 100]" (page)="changePage($event)">
  </mat-paginator>
</form>