.filter-form {
  display: flex; 
  flex-direction: row; 
  margin-bottom: 20px;
  padding-top: 10px;
  background-color: #fff;
}

.search-wrap {
  flex-grow: 1; 
}

.search-form-input {
  width: calc(100% - 160px);
  padding-left: 15px;
  flex-grow: 1; 
}

.paginator {
  flex-grow: 1; 
}

.period {
  width: 200px;
}