<div class="site-header__nav-panel">
    <!-- data-sticky-mode - one of [pullToShow, alwaysOnTop] -->
    <div class="nav-panel nav-panel--sticky" data-sticky-mode="pullToShow">
      <div class="nav-panel__container container">
        <div class="nav-panel__row">

          <app-web-header-nav-departments-togglable [headerCategories]="headerCategories"></app-web-header-nav-departments-togglable>

          <app-web-header-nav-nav-links-component style="height:100%"></app-web-header-nav-nav-links-component>

         <app-web-header-nav-indicators></app-web-header-nav-indicators>

        </div>
      </div>
    </div>
  </div>






<!-- OLD CODE  -->
<div *ngIf="false" class="site-header__nav-panel">
    <div class="nav-panel">
        <div class="nav-panel__container container">
            <div class="nav-panel__row">
                <app-web-header-nav-departments-togglable [headerCategories]="headerCategories"></app-web-header-nav-departments-togglable>
                <app-web-header-nav-nav-links-component style="height:100%"></app-web-header-nav-nav-links-component>
                <app-web-header-nav-indicators></app-web-header-nav-indicators>
            </div>
        </div>
    </div>
</div>