<div class="nav-panel__indicators">

    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <div class="indicator">
      <a [routerLink]="['/wishlist']" class="indicator__button"
        ><span class="indicator__area"
          ><svg width="20px" height="20px">
            <use xlink:href="images/svg/sprite.svg#heart-20" />
          </svg>
          <!-- TODO -->
          <span class="indicator__value">0</span></span
        ></a
      >
    </div>



    <!-- ++++++++++++++++++++DONE+++++++++++++++++++++++++++ -->
    <div class="indicator indicator--trigger--click" [ngClass]="{'indicator--open': isCartOpen, 'indicator--display': isCartOpen}">
      <a  class="indicator__button" #cartLinkElement>
        <span class="indicator__area">
            <svg width="20px" height="20px">
                <use xlink:href="images/svg/sprite.svg#cart-20" />
            </svg>
          <span class="indicator__value">{{cart?.numTotal || 0}}</span>
        </span>
       </a>
      <div class="indicator__dropdown" #cartElement>
        <!-- .dropcart -->
        <app-web-header-nav-cart-dropdown-component [cart]="cart"></app-web-header-nav-cart-dropdown-component>
        <!-- .dropcart / end -->
      </div>
    </div>

    <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <div class="indicator indicator--trigger--click" [ngClass]="{'indicator--open': isAccountOpen, 'indicator--display': isAccountOpen}">
      <a class="indicator__button" #accountLinkElement>
        <span class="indicator__area">
            <svg width="20px" height="20px">
                <use xlink:href="images/svg/sprite.svg#person-20"/>
            </svg>
            </span>
        </a>
      <div class="indicator__dropdown" #accountElement>
        <app-web-header-nav-account-dropdown-component></app-web-header-nav-account-dropdown-component>
      </div>
    </div>
    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  </div>