<form class="owner-form" [formGroup]="shopCategoriesAndKeywordsFormGroup">
        

  <mat-form-field class="example-chip-list">
    <mat-chip-list #categoryChipList aria-label="Category Selection">
      <mat-chip
        *ngFor="let category of formData.categories"
        [selectable]="categoryChipConfig.selectable"
        [removable]="categoryChipConfig.removable"
        (removed)="removeCategory(category)">
        {{category?.categoryName?.en}}
        <mat-icon matChipRemove *ngIf="categoryChipConfig.removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="New Category..."
        #categoryInput
        formControlName="categories"
        [matAutocomplete]="categoryAutoComplete"
        [matChipInputFor]="categoryChipList"
        [matChipInputSeparatorKeyCodes]="categoryChipConfig.separatorKeysCodes"
        [matChipInputAddOnBlur]="categoryChipConfig.addOnBlur"
        (matChipInputTokenEnd)="addCategory($event)">
    </mat-chip-list>
    <mat-autocomplete #categoryAutoComplete="matAutocomplete" (optionSelected)="categorySelected($event)">
      <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
        {{category?.categoryName?.en}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="example-chip-list">
    <mat-chip-list #keywordChipList aria-label="Keyword selection">
      <mat-chip *ngFor="let keyword of formData.keywords" [selectable]="keywordChipsConfig.selectable"
        [removable]="keywordChipsConfig.removable" (removed)="removeKeyword(keyword)">
        {{keyword}}
        <mat-icon matChipRemove *ngIf="keywordChipsConfig.removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Add Keyword..." [matChipInputFor]="keywordChipList"
        [matChipInputSeparatorKeyCodes]="keywordChipsConfig.separatorKeysCodes"
        [matChipInputAddOnBlur]="keywordChipsConfig.addOnBlur" (matChipInputTokenEnd)="addKeyword($event)">
    </mat-chip-list>
  </mat-form-field>
</form>


<div>
  <button mat-button (click)="submitForm()">Submit</button>
</div>