<!-- <div *ngFor="let notification of notifications; let i = index"
  class="notification"
  [ngClass]="getNotificationClass(notification)"
  [ngStyle]="{top: 5 + 5*(i+1) + '%'}">
  <div class="notification__body">
    <div>
      <h3>{{notification.message}}</h3>
    </div>
  </div>
</div> -->


<div class="alert" *ngFor="let notification of notifications; let i = index"
    [ngClass]="getNotificationClass(notification)"
    [ngStyle]="{top: 5 + 7*(i+1) + '%'}">
  <div class="alert__body">
    <div>
      <svg class="icon icon-time" *ngIf="notification?.icon">
        <use [attr.xlink:href]="'/assets/images/dashboard/sprite.svg#icon-time-fill'"></use>
      </svg>
    </div>
    <div>
      <h3>{{notification.message}}</h3>
    </div>
  </div>

  <div class="alert__actions" *ngIf="notification?.customButton">
    <span class="alert__actions--danger" [ngStyle]="notification.customButton?.styles || {}" (click)="customButtonClickHandler(notification)">{{notification.customButton?.title}}</span>
  </div>

  <div class="alert__actions" *ngIf="notification?.showCloseBadge || (!notification.autoClose && !notification.customButton)">
    <span class="alert__actions--danger" (click)="closeHandler(notification)">{{notification.closeBadgeMessage || 'Close'}}</span>
</div>
