<div class="block-sidebar__item">
  <div class="widget-categories widget-categories--location--shop widget">
    <h4 class="widget__title">Categories</h4>
    <ul class="widget-categories__list" data-collapse data-collapse-opened-class="widget-categories__item--open">
      <ng-container *ngFor="let category of categories">
        <li class="widget-categories__item" #liItem data-collapse-item [ngClass]="{'widget-categories__item--open': liItem.getAttribute('is-open') === 'true'}">
          <div class="widget-categories__row">
            <a [routerLink]="['/products']"  [queryParams]="{categoryId: category._id}" [queryParamsHandling]="'merge'">
              <svg class="widget-categories__arrow" width="6px" height="9px">
                <use xlink:href="images/svg/sprite.svg#arrow-rounded-right-6x9"></use>
              </svg> 
              {{category.categoryName | localize}}
            </a>
            <button *ngIf="category.childCategories.length > 0" class="widget-categories__expander" type="button" data-collapse-trigger (click)="toggleElement(liItem)"></button>
          </div>
          <div class="widget-categories__subs" data-collapse-content>
            <ul *ngIf="category.childCategories.length > 0">
              <ng-container *ngFor="let childCategory of category.childCategories">
                <li><a [routerLink]="['/products']"  [queryParams]="{categoryId: childCategory._id}" [queryParamsHandling]="'merge'">{{childCategory.categoryName | localize}}</a></li>
              </ng-container>
            </ul>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
</div>