<!-- https://loading.io/css/ -->

<div id="cover-spin" *ngIf="isSpinnerEnabled">
    <div *ngIf="spinnerType === Spinners.CIRCLE" class="lds-circle"><div></div></div>

    <div *ngIf="spinnerType === Spinners.DUAL_RING" class="lds-dual-ring"></div>
    
    <div *ngIf="spinnerType === Spinners.FACEBOOK" class="lds-facebook"><div></div><div></div><div></div></div>
    
    <div *ngIf="spinnerType === Spinners.HEART" class="lds-heart"><div></div></div>
    
    <div *ngIf="spinnerType === Spinners.RING" class="lds-ring"><div></div><div></div><div></div><div></div></div>
    
    <div *ngIf="spinnerType === Spinners.ROLLER" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    
    <div *ngIf="spinnerType === Spinners.DEFAULT" class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    
    <div *ngIf="spinnerType === Spinners.ELLIPSIS" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    
    <div *ngIf="spinnerType === Spinners.GRID" class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    
    <div *ngIf="spinnerType === Spinners.HOURGLASS" class="lds-hourglass"></div>
    
    <div *ngIf="spinnerType === Spinners.RIPPLE" class="lds-ripple"><div></div><div></div></div>
    
    <div *ngIf="spinnerType === Spinners.SPINNER" class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>
