<header class="site__header d-lg-block d-none">
  <div class="site-header">
    
    <app-web-topbar-component></app-web-topbar-component>
    <app-web-middle-header-component></app-web-middle-header-component>
    <app-web-header-nav-component [headerCategories]="headerCategories"></app-web-header-nav-component>

  </div>
</header>
