
<div class="oz-wrapper">
  <div class="oz-wrapper-row">
    <app-generic-filter [query]="query" (filterChange)="filterChange($event)" [numTotal]="numTotal"></app-generic-filter>
  </div>
  <div class="oz-wrapper-row">
    <app-toolbar (createHandler)="createHandler()"></app-toolbar>
  </div>
  <div class="oz-wrapper-row">    
    <app-product-list [items]="products"
      (editHandler)="editHandler($event)"
      (deleteHandler)="deleteHandler($event)"
      (enableStatusChangeHandler)="enableStatusChangeHandler($event)"
    ></app-product-list>
  </div>
</div>