.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}

mat-sidenav {
  min-width: 20%;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

.oz-wrapper {
  /* width: 100%;
  height: 100%; */
  /* position: absolute; */

  background-color: #d8d8d8;
}

.oz-wrapper .oz-wrapper-row {
  /* padding: 5px 5px;
  margin: 5px 5px;
  min-height: 50px; */

  background-color: #ffffff;
}