<app-web-home-slideshow-full-component></app-web-home-slideshow-full-component>
<app-web-home-features-component></app-web-home-features-component>
<app-web-home-featured-products-component></app-web-home-featured-products-component>
<app-web-home-banner-component></app-web-home-banner-component>
<app-web-home-best-sellers-component></app-web-home-best-sellers-component>
<app-web-home-popular-categories-component></app-web-home-popular-categories-component>
<app-web-home-new-arrival-products-component></app-web-home-new-arrival-products-component>
<app-web-home-news-component></app-web-home-news-component>
<app-web-home-brands-component></app-web-home-brands-component>
<app-web-home-products-component></app-web-home-products-component>