.alert {
	max-width: 40rem;
	position: fixed;
	/* top: 5%; */
	right: 1%;
	background: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 1rem;
	-webkit-transform: translateX(200%);
	-ms-transform: translateX(200%);
	transform: translateX(200%);
	-webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
	-o-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
	transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
	z-index: 200;
	-webkit-box-shadow: 0 4px 8px rgb(0 0 0 / 8%);
	box-shadow: 0 4px 8px rgb(0 0 0 / 8%);
}

.alert-dashboard::before {
	content: '';
	position: absolute;
	left: .5rem;
	width: .4rem;
	height: 75%;
	border-radius: 2rem;
}

.alert__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 1rem;
	padding-right: 2.5rem;
}
.alert__body h2 {
	margin-bottom: 0.5rem;
	font-size: 1.35rem;
}
.alert__body h3 {
	font-weight: 600;
	font-size: 1.2rem;
	text-transform: capitalize;
	padding-left: 1rem;
	line-height: 160%;
}
.alert__body span {
	font-size: 1.1rem;
	font-weight: 400;
}
.alert__body svg {
	vertical-align: middle;
	fill: #2d3c54;
	margin: 0.8rem;
	width: 2rem;
	height: 2rem;
}
.alert__actions {
	text-align: center;
	border-left: 1px solid #e3eaf9;
}
.alert__actions--success {
	color: #32bd77;
}
.alert__actions--danger:hover {
	color: #ff3a3a;
}
.alert__actions span {
	cursor: pointer;
	font-weight: 700;
	font-size: 1.2rem;
	display: block;
	padding: 1rem 2rem;
}
.alert__actions span:not(:last-child) {
	border-bottom: 1px solid #e3eaf9;
}
.alert__shortname {
	margin: 0 1.5rem 0 0;
	border-radius: 50%;
	font-size: 1.6rem;
	background: #3166de;
	color: #fff;
	padding: 1rem;
}
.alert.show {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}

/* RAVI */

.alert-success {
	/* background-color: #d4ebd4; */
}
.alert-danger {
	/* background-color: #ff9a91; */
}
.alert-warning {
	/* background-color: #ffe8a4; */
}
.alert-info {
	/* background-color: #b5c8f3; */
}
.alert-dashboard.alert-success::before {
	background-color: #d4ebd4;
}
.alert-dashboard.alert-danger::before {
	background-color: #ff3a3a;
}
.alert-dashboard.alert-warning::before {
	background-color: #ffe8a4;
}
.alert-dashboard.alert-info::before {
	background-color: #3166de;
}

.alert[class*="success"] svg,
.alert[class*="danger"] svg,
.alert[class*="info"] svg,
.alert[class*="warning"] svg {
	fill: #41577c;
}
.alert[class*="success"] .alert__actions,
.alert[class*="danger"] .alert__actions,
.alert[class*="info"] .alert__actions,
.alert[class*="warning"] .alert__actions {
	border-left-color: rgba(34, 46, 64, 0.2);
}
.alert[class*="success"] .alert__actions span:not(:last-child),
.alert[class*="danger"] .alert__actions span:not(:last-child),
.alert[class*="info"] .alert__actions span:not(:last-child),
.alert[class*="warning"] .alert__actions span:not(:last-child) {
	border-bottom-color: rgba(34, 46, 64, 0.2);
}
