<h1 mat-dialog-title>
  {{
    data.type === 'create'? 'Create New Category': 'Update Category'  
  }}
</h1>
<div mat-dialog-content class="oz-content">
  <form [formGroup]="form" autocomplete="off">

    <mat-form-field style="width: 100%">
      <input type="text" matInput placeholder="Name EN" formControlName="categoryNameEN">
    </mat-form-field>
    <mat-form-field style="width: 100%">
      <input type="text" matInput placeholder="Name GE" formControlName="categoryNameGE">
    </mat-form-field>
    <mat-form-field style="width: 100%">
      <input type="text" matInput placeholder="Friendly ID EN" formControlName="friendlyIdEN">
    </mat-form-field>
    <mat-form-field style="width: 100%">
      <input type="text" matInput placeholder="Friendly ID GE" formControlName="friendlyIdGE">
    </mat-form-field>

    <mat-checkbox class="example-margin" formControlName="includeInSearch">Include In Search?</mat-checkbox>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onYesClick()" cdkFocusInitial>Ok</button>
</div>
