<form [formGroup]="loginFormGroup" (ngSubmit)="submit()">
  <div class="example-container">
    <label>
      <h2>Log In To Admin</h2>
    </label>

    <mat-form-field>
      <input type="text" matInput placeholder="Email" formControlName="email" autocomplete="of">
    </mat-form-field>

    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Log In</button>

  </div>
</form>