<form [formGroup]="addShopInfoFormGroup" class="shop-info-form" autocomplete="off">
  <mat-tab-group>
    <mat-tab label="EN">
      <div class="scroll-container">

        <mat-form-field>
          <input matInput placeholder="Title" formControlName="titleEN" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Friendly ID" formControlName="friendlyIdEN" required>
        </mat-form-field>

        <!-- <mat-form-field>
          <textarea matInput placeholder="Short Description" formControlName="shortDescriptionEN" required></textarea>
        </mat-form-field> -->

        <label class="oz-form-control-label" for="shortDescriptionEN">Short Description</label>
        <ck-editor
          formControlName="shortDescriptionEN" 
          skin="moono-lisa" 
          language="en" 
          [fullPage]="false" 
          [config]="{width: '100%', height: '400px)'}"
          name="shortDescriptionEN"></ck-editor>

        <!-- <mat-form-field>
          <textarea matInput placeholder="Long Description" formControlName="longDescriptionEN" required></textarea>
        </mat-form-field> -->

        <label class="oz-form-control-label" for="longDescriptionEN">Short Description</label>
        <ck-editor
          formControlName="longDescriptionEN" 
          skin="moono-lisa" 
          language="en" 
          [fullPage]="false" 
          [config]="{width: '100%', height: '400px)'}"
          name="longDescriptionEN"></ck-editor>

        <!-- <mat-form-field>
          <textarea matInput placeholder="Terms And Condition" formControlName="termsAndConditionEN"
            required></textarea>
        </mat-form-field> -->

        <label class="oz-form-control-label" for="termsAndConditionEN">Terms And Conditions</label>
        <ck-editor
          formControlName="termsAndConditionEN" 
          skin="moono-lisa" 
          language="en" 
          [fullPage]="false" 
          [config]="{width: '100%', height: '400px)'}"
          name="termsAndConditionEN"></ck-editor>

      </div>
    </mat-tab>
    <mat-tab label="GE">

      <div class="scroll-container">
        <mat-form-field>
          <input matInput placeholder="Title" formControlName="titleGE" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Friendly ID" formControlName="friendlyIdGE" required>
        </mat-form-field>

        <!-- <mat-form-field>
          <textarea matInput placeholder="Short Description" formControlName="shortDescriptionGE" required></textarea>
        </mat-form-field> -->

        <label class="oz-form-control-label" for="shortDescriptionGE">Long Description</label>
        <ck-editor
          formControlName="shortDescriptionGE" 
          skin="moono-lisa" 
          language="en" 
          [fullPage]="false" 
          [config]="{width: '100%', height: '400px)'}"
          name="shortDescriptionGE"></ck-editor>

        <!-- <mat-form-field>
          <textarea matInput placeholder="Long Description" formControlName="longDescriptionGE" required></textarea>
        </mat-form-field> -->

        <label class="oz-form-control-label" for="longDescriptionGE">Long Description</label>
        <ck-editor
          formControlName="longDescriptionGE" 
          skin="moono-lisa" 
          language="en" 
          [fullPage]="false" 
          [config]="{width: '100%', height: '400px)'}"
          name="longDescriptionGE"></ck-editor>

        <!-- <mat-form-field>
          <textarea matInput placeholder="Terms And Condition" formControlName="termsAndConditionGE"
            required></textarea>
        </mat-form-field> -->

        <label class="oz-form-control-label" for="termsAndConditionGE">Terms And Conditions</label>
        <ck-editor
          formControlName="termsAndConditionGE" 
          skin="moono-lisa" 
          language="en" 
          [fullPage]="false" 
          [config]="{width: '100%', height: '400px)'}"
          name="termsAndConditionGE"></ck-editor>
      </div>

    </mat-tab>
  </mat-tab-group>

  <!-- <div>
    <button mat-button (click)="submitShopInfoForm()"
      [disabled]="!addShopInfoFormGroup.valid">Submit</button>
  </div> -->

</form>

<div>
  <button mat-button (click)="submitShopInfoForm()" [disabled]="!addShopInfoFormGroup.valid">Update Shop Info</button>
</div>