<div class="nav-panel__nav-links nav-links">
  <ul class="nav-links__list">
    <li class="nav-links__item nav-links__item--has-submenu">
      <a class="nav-links__item-link" [routerLink]="['/home']">
        <div class="nav-links__item-body">
          Home
          <svg class="nav-links__item-arrow" width="9px" height="6px">
            <use xlink:href="images/svg/sprite.svg#arrow-rounded-down-9x6" />
          </svg>
        </div>
      </a>
      <div class="nav-links__submenu nav-links__submenu--type--menu">
        <!-- .menu -->
        <div class="menu menu--layout--classic">
          <div class="menu__submenus-container"></div>
          <ul class="menu__list">
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" [routerLink]="['products']">
                Products  
              </a>
            </li>
          </ul>
        </div>
        <!-- .menu / end -->
      </div>
    </li>

    <!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
    <li class="nav-links__item nav-links__item--has-submenu">
      <a class="nav-links__item-link" href>
        <div class="nav-links__item-body">
          Megamenu
          <svg class="nav-links__item-arrow" width="9px" height="6px">
            <use xlink:href="images/svg/sprite.svg#arrow-rounded-down-9x6" />
          </svg>
        </div>
      </a>
      <div class="nav-links__submenu nav-links__submenu--type--megamenu nav-links__submenu--size--nl">
        <!-- .megamenu -->
        <div class="megamenu">
          <div class="megamenu__body">
            <div class="row">
              <div class="col-6">
                <ul class="megamenu__links megamenu__links--level--0">
                  <li class="megamenu__item megamenu__item--with-submenu">
                    <a href>Power Tools</a>
                    <ul class="megamenu__links megamenu__links--level--1">
                      <li class="megamenu__item">
                        <a href>Engravers</a>
                      </li>
                      <li class="megamenu__item">
                        <a href>Wrenches</a>
                      </li>
                      <li class="megamenu__item">
                        <a href>Wall Chaser</a>
                      </li>
                      <li class="megamenu__item">
                        <a href>Pneumatic Tools</a>
                      </li>
                    </ul>
                  </li>
                  <li class="megamenu__item megamenu__item--with-submenu">
                    <a href>Machine Tools</a>
                    <ul class="megamenu__links megamenu__links--level--1">
                      <li class="megamenu__item">
                        <a href>Thread Cutting</a>
                      </li>
                      <li class="megamenu__item">
                        <a href>Chip Blowers</a>
                      </li>
                      <li class="megamenu__item">
                        <a href>Sharpening Machines</a>
                      </li>
                      <li class="megamenu__item">
                        <a href>Pipe Cutters</a>
                      </li>
                      <li class="megamenu__item">
                        <a href>Slotting machines</a>
                      </li>
                      <li class="megamenu__item">
                        <a href>Lathes</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="col-6">
                <ul class="megamenu__links megamenu__links--level--0">
                  <li class="megamenu__item megamenu__item--with-submenu">
                    <a href>Hand Tools</a>
                    <ul class="megamenu__links megamenu__links--level--1">
                      <li class="megamenu__item">
                        <a href>Screwdrivers</a>
                      </li>
                      <li class="megamenu__item">
                        <a href>Handsaws</a>
                      </li>
                      <li class="megamenu__item">
                        <a href>Knives</a>
                      </li>
                      <li class="megamenu__item">
                        <a href>Axes</a>
                      </li>
                      <li class="megamenu__item">
                        <a href>Multitools</a>
                      </li>
                      <li class="megamenu__item">
                        <a href>Paint Tools</a>
                      </li>
                    </ul>
                  </li>
                  <li class="megamenu__item megamenu__item--with-submenu">
                    <a href>Garden Equipment</a>
                    <ul class="megamenu__links megamenu__links--level--1">
                      <li class="megamenu__item">
                        <a href>Motor Pumps</a>
                      </li>
                      <li class="megamenu__item">
                        <a href>Chainsaws</a>
                      </li>
                      <li class="megamenu__item">
                        <a href>Electric Saws</a>
                      </li>
                      <li class="megamenu__item">
                        <a href>Brush Cutters</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- .megamenu / end -->
      </div>
    </li>
    <li class="nav-links__item nav-links__item--has-submenu">
      <a class="nav-links__item-link" href="shop-grid-3-columns-sidebar.html">
        <div class="nav-links__item-body">
          Shop
          <svg class="nav-links__item-arrow" width="9px" height="6px">
            <use xlink:href="images/svg/sprite.svg#arrow-rounded-down-9x6" />
          </svg>
        </div>
      </a>
      <div class="nav-links__submenu nav-links__submenu--type--menu">
        <!-- .menu -->
        <div class="menu menu--layout--classic">
          <div class="menu__submenus-container"></div>
          <ul class="menu__list">
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" href="shop-grid-3-columns-sidebar.html">
                Shop Grid
                <svg class="menu__item-arrow" width="6px" height="9px">
                  <use xlink:href="images/svg/sprite.svg#arrow-rounded-right-6x9" />
                </svg>
                </a>
              <div class="menu__submenu">
                <!-- .menu -->
                <div class="menu menu--layout--classic">
                  <div class="menu__submenus-container"></div>
                  <ul class="menu__list">
                    <li class="menu__item">
                      <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                      <div class="menu__item-submenu-offset"></div>
                      <a class="menu__item-link" href="shop-grid-3-columns-sidebar.html">3 Columns Sidebar</a>
                    </li>
                    <li class="menu__item">
                      <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                      <div class="menu__item-submenu-offset"></div>
                      <a class="menu__item-link" href="shop-grid-4-columns-full.html">4 Columns Full</a>
                    </li>
                    <li class="menu__item">
                      <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                      <div class="menu__item-submenu-offset"></div>
                      <a class="menu__item-link" href="shop-grid-5-columns-full.html">5 Columns Full</a>
                    </li>
                  </ul>
                </div>
                <!-- .menu / end -->
              </div>
            </li>
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" href="shop-list.html">
                Shop List</a>
            </li>
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" href="shop-right-sidebar.html">
                Shop Right Sidebar</a>
            </li>
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" href="product.html">
                Product
                <svg class="menu__item-arrow" width="6px" height="9px">
                  <use xlink:href="images/svg/sprite.svg#arrow-rounded-right-6x9" />
                </svg>
                </a>
              <div class="menu__submenu">
                <!-- .menu -->
                <div class="menu menu--layout--classic">
                  <div class="menu__submenus-container"></div>
                  <ul class="menu__list">
                    <li class="menu__item">
                      <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                      <div class="menu__item-submenu-offset"></div>
                      <a class="menu__item-link" href="product.html">Product</a>
                    </li>
                    <li class="menu__item">
                      <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                      <div class="menu__item-submenu-offset"></div>
                      <a class="menu__item-link" href="product-alt.html">Product Alt</a>
                    </li>
                    <li class="menu__item">
                      <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                      <div class="menu__item-submenu-offset"></div>
                      <a class="menu__item-link" href="product-sidebar.html">Product Sidebar</a>
                    </li>
                  </ul>
                </div>
                <!-- .menu / end -->
              </div>
            </li>
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" href="cart.html">Cart</a>
            </li>
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" href="cart-empty.html">
                Cart Empty</a>
            </li>
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" href="checkout.html">
                Checkout</a>
            </li>
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" href="order-success.html">
                Order Success</a>
            </li>
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" href="wishlist.html">
                Wishlist</a>
            </li>
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" href="compare.html">
                Compare</a>
            </li>
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" href="track-order.html">
                Track Order</a>
            </li>
          </ul>
        </div>
        <!-- .menu / end -->
      </div>
    </li>
    <li class="nav-links__item nav-links__item--has-submenu">
      <a class="nav-links__item-link" href="account-login.html">
        <div class="nav-links__item-body">
          Account
          <svg class="nav-links__item-arrow" width="9px" height="6px">
            <use xlink:href="images/svg/sprite.svg#arrow-rounded-down-9x6" />
          </svg>
        </div>
      </a>
      <div class="nav-links__submenu nav-links__submenu--type--menu">
        <!-- .menu -->
        <div class="menu menu--layout--classic">
          <div class="menu__submenus-container"></div>
          <ul class="menu__list">
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" href="account-login.html">
                Login</a>
            </li>
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" href="account-dashboard.html">
                Dashboard</a>
            </li>
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" href="account-profile.html">
                Edit Profile</a>
            </li>
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" href="account-orders.html">
                Order History</a>
            </li>
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" href="account-order-details.html">
                Order Details</a>
            </li>
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" href="account-addresses.html">
                Address Book</a>
            </li>
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" href="account-edit-address.html">
                Edit Address</a>
            </li>
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" href="account-password.html">
                Change Password</a>
            </li>
          </ul>
        </div>
        <!-- .menu / end -->
      </div>
    </li>
    <li class="nav-links__item nav-links__item--has-submenu">
      <a class="nav-links__item-link" href="blog-classic.html">
        <div class="nav-links__item-body">
          Blog
          <svg class="nav-links__item-arrow" width="9px" height="6px">
            <use xlink:href="images/svg/sprite.svg#arrow-rounded-down-9x6" />
          </svg>
        </div>
      </a>
      <div class="nav-links__submenu nav-links__submenu--type--menu">
        <!-- .menu -->
        <div class="menu menu--layout--classic">
          <div class="menu__submenus-container"></div>
          <ul class="menu__list">
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" href="blog-classic.html">
                Blog Classic</a>
            </li>
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" href="blog-grid.html">
                Blog Grid</a>
            </li>
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" href="blog-list.html">
                Blog List</a>
            </li>
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" href="blog-left-sidebar.html">
                Blog Left Sidebar</a>
            </li>
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" href="post.html">
                Post Page</a>
            </li>
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" href="post-without-sidebar.html">
                Post Without Sidebar</a>
            </li>
          </ul>
        </div>
        <!-- .menu / end -->
      </div>
    </li>
    <li class="nav-links__item nav-links__item--has-submenu">
      <a class="nav-links__item-link" href>
        <div class="nav-links__item-body">
          Pages
          <svg class="nav-links__item-arrow" width="9px" height="6px">
            <use xlink:href="images/svg/sprite.svg#arrow-rounded-down-9x6" />
          </svg>
        </div>
      </a>
      <div class="nav-links__submenu nav-links__submenu--type--menu">
        <!-- .menu -->
        <div class="menu menu--layout--classic">
          <div class="menu__submenus-container"></div>
          <ul class="menu__list">
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" href="about-us.html">
                About Us</a>
            </li>
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" href="contact-us.html">
                Contact Us</a>
            </li>
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" href="contact-us-alt.html">
                Contact Us Alt</a>
            </li>
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" href="404.html">404</a>
            </li>
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" href="terms-and-conditions.html">
                Terms And Conditions</a>
            </li>
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" href="faq.html">FAQ</a>
            </li>
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" href="components.html">
                Components</a>
            </li>
            <li class="menu__item">
              <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" href="typography.html">
                Typography</a>
            </li>
          </ul>
        </div>
        <!-- .menu / end -->
      </div>
    </li>
    <li class="nav-links__item">
      <a class="nav-links__item-link" href="https://themeforest.net/item/stroyka-tools-store-html-template/23326943">
        <div class="nav-links__item-body">Buy Theme</div>
      </a>
    </li>
  </ul>
</div>