<h1 mat-dialog-title>
  {{
    data.type === 'create'? 'Create New Manager': 'Update Manager'  
  }}
</h1>
<div mat-dialog-content class="oz-content">
  <form [formGroup]="form" autocomplete="off">

    <mat-form-field style="width: 100%">
      <input type="text" matInput placeholder="First Name" formControlName="firstName">
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <input type="text" matInput placeholder="Last Name" formControlName="lastName">
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <input type="text" matInput placeholder="Email" formControlName="email">
    </mat-form-field>

    <ng-container *ngIf="data.type === 'create'">
      <mat-form-field style="width: 80%" class="inline">
        <input type="string" matInput placeholder="Password" formControlName="password">
      </mat-form-field>
  
      <button  mat-raised-button (click)="refreshPassword()"><mat-icon>refresh</mat-icon></button>
    </ng-container>
    
    
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onYesClick()" cdkFocusInitial [disabled]="form.invalid">Ok</button>
</div>
