@font-face {
    font-family: 'stroyka';
    src:
            url('../fonts/stroyka.ttf') format('truetype'),
            url('../fonts/stroyka.woff') format('woff'),
            url('../fonts/stroyka.svg#stroyka') format('svg');
    font-weight: normal;
    font-style: normal;
}