
<div class="upload-btn-wrapper">
  <button [disabled]="!!productMediaItemBeendEdited" class="btn">Choose Image Files</button>
  <!-- <input type="file" name="myfile" accept="image/*" multiple (change)="fileChangeListener($event)"/> -->
  <input [disabled]="!!productMediaItemBeendEdited" type="file" name="myfile" accept="image/*" multiple="false" (change)="singleFileChangeListener($event)"/>
</div>

<div class="oz-cropper">
  <div class="oz-kart oz-big-image-cropper">
    <img-cropper #mainImageCropper [image]="cropperData" [settings]="cropperSettings"></img-cropper>
  </div>

  <div class="oz-kart oz-big-image-view">
    <img
      [src]="cropperData.image"
      [width]="cropperSettings.canvasWidth"
      [height]="cropperSettings.canvasHeight"/>
  </div>  
</div>

<div class="upload-btn-wrapper">
  <button class="btn" (click)="uploadCropperImage()" [disabled]="!cropperData.image">Upload Image</button>
</div>


<table mat-table [dataSource]="productMedia">
    
  <ng-container *ngFor="let column of columnsToDisplay">
    <ng-container matColumnDef="{{column}}" *ngIf="column !== 'actions'">
      <th mat-header-cell *matHeaderCellDef> {{displayColumnTranslations[column]?.title}} </th>
      <td mat-cell *matCellDef="let element" [ngStyle]="displayColumnTranslations[column]?.style || {}">
        <ng-container *ngIf="displayColumnTranslations[column].type === 'link'">
          <a [routerLink]="[displayColumnTranslations[column].linkRoute(element?.item?.originalImage)]">
            {{
              displayColumnTranslations[column]?.transformer? displayColumnTranslations[column].transformer( element?.item?.originalImage):  element?.item?.originalImage[column]
            }} 
          </a>
        </ng-container>

        <ng-container *ngIf="displayColumnTranslations[column].type === 'image'">
          <img class="oz-list-product-image" [src]="getProductMediaSRC(element)" alt="image" crossorigin="anonymous">
        </ng-container>

        <ng-container *ngIf="!displayColumnTranslations[column].type">
          {{
            displayColumnTranslations[column]?.transformer? displayColumnTranslations[column].transformer( element?.item?.originalImage):  element?.item?.originalImage[column]
          }} 
        </ng-container>
        
      </td>
    </ng-container>
  </ng-container>
  
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="actions-th"> Actions </th>
    <td mat-cell *matCellDef="let element" class="actions-td"> 

      <section class="example-section">
        <mat-slide-toggle
            class="example-margin"
            [color]="'accent'"
            [checked]="element?.isPrimary"
            [disabled]="false"
            (change)="changePrimaryStatusHandler($event, element)">
          {{
            element?.isPrimary? 'Primary' : 'Regular'
          }}
        </mat-slide-toggle>

        <button *ngIf="productMediaItemBeendEdited === element" (click)="cancelImageEditClickHandler()">
          <mat-icon>close</mat-icon>
        </button>

        <button *ngIf="productMediaItemBeendEdited !== element" (click)="editClickHandler(element)">
          <mat-icon>edit</mat-icon>
        </button>
  
        <button class="delete-btn" [disabled]="productMediaItemBeendEdited === element" (click)="deleteClickHandler(element)">
          <mat-icon>delete</mat-icon>
        </button>

      </section>

      

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>

<div>
  <button mat-button [disabled]="!isProductMediaFormReadyForSubmit()" (click)="submitProductMediaForm()">Submit</button>
</div>