<table mat-table [dataSource]="items">
    
  <ng-container *ngFor="let column of columnsToDisplay">
    <ng-container matColumnDef="{{column}}" *ngIf="column!=='actions'">
      <th mat-header-cell *matHeaderCellDef> {{displayColumnTranslations[column]?.title}} </th>
      <td mat-cell *matCellDef="let element" [ngStyle]="displayColumnTranslations[column]?.style || {}"> {{
          displayColumnTranslations[column]?.transformer? displayColumnTranslations[column].transformer( element):  element[column]
      }} </td>
    </ng-container>
  </ng-container>    

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="actions-th"> Actions </th>
    <td mat-cell *matCellDef="let element" class="actions-td"> 

      <button (click)="editClickHandler(element)">
        <mat-icon>edit</mat-icon>
      </button>

      <button class="delete-btn" (click)="deleteClickHandler(element)">
        <mat-icon>delete</mat-icon>
      </button>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>