.overlay {
  background-color: #585858;
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
}

mat-spinner {
  position: relative;
  margin: auto auto;
  top: 40%;
  z-index: 99999;
}