<div class="dropcart dropcart--style--dropdown">
    <div class="dropcart__body">
      <div class="dropcart__products-list">
        <ng-container *ngIf="cart">
            <ng-container *ngFor="let cartItem of cart?.cartItems; trackBy: trackCartItemsByFN">
                <div class="dropcart__product">
                    <div class="product-image dropcart__product-image">
                        <a [routerLink]="['/product', cartItem.product._id]" [queryParams] = "{title: cartItem.product.friendlyId | localize}" class="product-image__body">
                            <img class="product-image__img"  [src]="getProductPrimaryImage(cartItem.product)" alt="" crossorigin="anonymous"/>
                        </a>
                    </div>
                    <div class="dropcart__product-info">
                      <div class="dropcart__product-name">
                        <a [routerLink]="['/product', cartItem.product._id]" [queryParams] = "{title: cartItem.product.friendlyId | localize}">
                            {{cartItem.product.title | localize}}
                        </a>
                      </div>
                      <ul class="dropcart__product-options">
                        <li>Color: Yellow</li>
                        <li>Material: Aluminium</li>
                      </ul>
                      <div class="dropcart__product-meta">
                        <span class="dropcart__product-quantity">{{cartItem.qty}}</span>
                        ×
                        <span class="dropcart__product-price">{{userCurrency}} {{cartItem.product.price  | number: '1.2-2'}}</span
                        >
                      </div>
                    </div>
                    <button (click)="removeCartItem(cartItem)" type="button" class="dropcart__product-remove btn btn-light btn-sm btn-svg-icon">
                      <svg width="10px" height="10px">
                        <use xlink:href="images/svg/sprite.svg#cross-10"/>
                      </svg>
                    </button>
                  </div>
            </ng-container>
        </ng-container>
      </div>
      <div class="dropcart__totals">
        <table>
            <tr>
                <th>Subtotal</th>
                <td>{{userCurrency}} {{cart?.subTotal || 0  | number: '1.2-2'}}</td>
            </tr>
            <tr>
                <th>Shipping</th>
                <td>{{userCurrency}} {{cart?.shipping || 0  | number: '1.2-2'}}</td>
            </tr>
            <tr>
                <th>Tax</th>
                <td>{{userCurrency}} {{cart?.tax || 0  | number: '1.2-2'}}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{userCurrency}} {{cart?.total || 0 | number: '1.2-2'}}</td>
            </tr>
        </table>
      </div>
      <div class="dropcart__buttons">
        <a class="btn btn-secondary"  [routerLink]="['/cart']">View Cart</a>
        <a class="btn btn-primary"  [routerLink]="['/checkout']">Checkout</a>
      </div>
    </div>
  </div>





<!-- OLD CODE -->
<div *ngIf="false" class="dropcart">
  <div class="dropcart__products-list">
    <ng-container *ngIf="cart">
        <ng-container *ngFor="let cartItem of cart?.cartItems; trackBy: trackCartItemsByFN">
            <div class="dropcart__product" *ngIf="cartItem.product">
                <div class="dropcart__product-image">
                    <a [routerLink]="['/product', cartItem.product._id]" [queryParams] = "{title: cartItem.product.friendlyId | localize}">
                        <img [src]="getProductPrimaryImage(cartItem.product)" alt="" crossorigin="anonymous">
                    </a>
                </div>
                <div class="dropcart__product-info">
                    <div class="dropcart__product-name"><a [routerLink]="['/product', cartItem.product._id]" [queryParams] = "{title: cartItem.product.friendlyId | localize}">{{cartItem.product.title | localize}}</a></div>
                    <ul class="dropcart__product-options">
                        <li>Color: Yellow</li>
                        <li>Material: Aluminium</li>
                    </ul>
                    <div class="dropcart__product-meta"><span
                            class="dropcart__product-quantity">{{cartItem.qty}}</span> x <span
                            class="dropcart__product-price">{{userCurrency}} {{cartItem.product.price  | number: '1.2-2'}}</span></div>
                </div>
                <button type="button" class="dropcart__product-remove btn btn-light btn-sm btn-svg-icon" (click)="removeCartItem(cartItem)">
                    <svg width="10px" height="10px">
                        <use xlink:href="images/svg/sprite.svg#cross-10"></use>
                    </svg>
                </button>
            </div>
        </ng-container>
    </ng-container>

  </div>
  <div class="dropcart__totals">
      <table>
          <tr>
              <th>Subtotal</th>
              <td>{{userCurrency}} {{cart?.subTotal || 0  | number: '1.2-2'}}</td>
          </tr>
          <tr>
              <th>Shipping</th>
              <td>{{userCurrency}} {{cart?.shipping || 0  | number: '1.2-2'}}</td>
          </tr>
          <tr>
              <th>Tax</th>
              <td>{{userCurrency}} {{cart?.tax || 0  | number: '1.2-2'}}</td>
          </tr>
          <tr>
              <th>Total</th>
              <td>{{userCurrency}} {{cart?.total || 0 | number: '1.2-2'}}</td>
          </tr>
      </table>
  </div>
  <div class="dropcart__buttons">
    <a class="btn btn-secondary" [routerLink]="['/cart']">View Cart</a> 
    <a class="btn btn-primary" href="checkout.html">Checkout</a></div>
</div>