
<div class="upload-btn-wrapper">
  <button [disabled]="!!productMediaItemBeendEdited" class="btn">Choose Image Files</button>
  <!-- <input type="file" name="myfile" accept="image/*" multiple (change)="fileChangeListener($event)"/> -->
  <input [disabled]="!!productMediaItemBeendEdited" type="file" name="myfile" accept="image/*" multiple="false" (change)="singleFileChangeListener($event)"/>
</div>

<div class="oz-cropper">
  <div class="oz-kart oz-big-image-cropper">
    <img-cropper #mainImageCropper [image]="cropperData" [settings]="cropperSettings"></img-cropper>
  </div>

  <div class="oz-kart oz-big-image-view">
    <img
      [src]="cropperData.image"
      [width]="cropperSettings.canvasWidth"
      [height]="cropperSettings.canvasHeight"/>
  </div>  
</div>

<div class="upload-btn-wrapper">
  <button class="btn" (click)="uploadCropperImage()" [disabled]="!cropperData.image">Upload Image</button>
</div>

<!-- <div>
  <button mat-button [disabled]="!isShopMediaFormReadyForSubmit()" (click)="submitStoreMediaForm()">Submit</button>
</div> -->
