mat-form-field {
  width: 90%;
}

.scroll-container {
  height: 60%;
}

.oz-form-control-label {
  display: block;
}

.oz-list-product-image {
  width: 120px;
  height: 160px;
}

table {
  width: 100%;
}

.actions-th {
  width: 20%;
}

.actions-td button {
  outline: none;
  border: none;
  background: none;
}

.delete-btn {
  color: rgb(211, 24, 24)
}

/* =======================================================*/

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.oz-kart {
  width: 40%;
  padding: 10px;
  position: relative;
  display: inline-block;
  margin-right: 10%;
  /* padding-right: 5%;
}

.oz-big-image-cropper {
  /* width: 40%; */
}

.oz-big-image-view {
  /* width: 40%; */
  position: absolute;
}

.oz-big-image-view-image {
  width: 100%;
}