<app-web-breadcrumb-component [breadCrumbData]="breadCrumbData"></app-web-breadcrumb-component>
<div class="container">
    <div class="shop-layout shop-layout--sidebar--start">
        <app-web-product-listing-sidebar-layout-component [categories]="categories"></app-web-product-listing-sidebar-layout-component>

        <div class="shop-layout__content">
            <div class="block">
                <div class="products-view">

                    <div class="products-view__options">
                        <div class="view-options">
                            <!-- ===================================================LAYOUT IS DONE========================================== -->
                            <div class="view-options__layout">
                                <div class="layout-switcher">
                                    <div class="layout-switcher__list">
                                        <ng-container *ngFor="let layout of layoutOptions">
                                            <button (click)="setActiveLayout(layout)" [attr.data-layout]="layout.class" [attr.data-with-features]="layout.features" [attr.title]="layout.title" type="button" class="layout-switcher__button" [ngClass]="{'layout-switcher__button--active': layout === activeLayout}">
                                                <svg width="16px" height="16px">
                                                    <use [attr.xlink:href]="layout.xlinkHref"></use>
                                                </svg>
                                            </button>
                                        </ng-container>                                         
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================================================================================= -->

                            <!-- ====================================================TODO===================================================== -->
                            <div class="view-options__legend">Showing {{products.length < productsQuery.page * productsQuery.limit ? products.length : productsQuery.page * productsQuery.limit}} of {{productsNumTotal}} products</div>
                            <div class="view-options__divider"></div>
                            <div class="view-options__control"><label for="">Sort By</label>
                                <div>
                                    <select  class="form-control form-control-sm" (change)="sortOptionChangeHandler($event)">
                                        <ng-container *ngFor="let sortOption of sortOptions">
                                            <option [selected]="productsQuery.sortBy === sortOption.field + sortOption.order" [value]="sortOption.field + sortOption.order">{{sortOption.title | localize}}</option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                            <div class="view-options__control"><label for="">Show</label>
                                <div>
                                    <select [value]="productsQuery.limit" class="form-control form-control-sm" name="" id="" (change)="productLimitChange($event)">
                                        <option [value]="15">15</option>
                                        <option [value]="30">30</option>
                                        <option [value]="50">50</option>
                                    </select></div>
                            </div>
                            <!-- ============================================================================================================= -->
                        </div>
                    </div>
                    <!-- ================================================PRODUCT LISTING============================================= -->
                    <div class="products-view__list products-list" [attr.data-layout]="activeLayout?.class"
                        [attr.data-with-features]="activeLayout?.features">
                        <div class="products-list__body">

                            <ng-container *ngFor="let product of products">
                                <app-web-product-listing-product-item-component [product]="product" class="products-list__item">
                                </app-web-product-listing-product-item-component>
                            </ng-container>

                        </div>
                    </div>
                    <!-- =================================================pPAGINATION==================================================== -->
                    <app-web-pagination-component 
                        [page]="productsQuery.page" 
                        [limit]="productsQuery.limit"
                        [numTotal]="productsNumTotal" 
                        (pageChangeHandler)="pageChangeHandler($event)">
                    </app-web-pagination-component>
                </div>
            </div>
        </div>
    </div>
</div>