<ul id="myUL">
  <ng-container
    *ngTemplateOutlet="categoriesTemplate; context: {_categoriesContainer: {categories: categories}}">
  </ng-container>
</ul>

<form>
  <mat-form-field class="example-chip-list">
    <mat-chip-list #categoryList aria-label="Product Categories">
      <mat-chip *ngFor="let category of productCategories" 
              [selectable]="true"
              [removable]="true" 
              (removed)="removeCategory(category)">
        {{category?.categoryName?.en}}
        <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Product Categories"
             [matChipInputFor]="categoryList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="true"
             (matChipInputTokenEnd)="addCategory($event)"
             autocomplete="off"
             disabled="true">
    </mat-chip-list>
  </mat-form-field>

  <mat-form-field class="example-chip-list">
    <mat-chip-list #keywordsList aria-label="Product Keywords">
      <mat-chip *ngFor="let keyword of productKeywords" 
              [selectable]="true"
              [removable]="true" 
              (removed)="removeKeyword(keyword)">
        {{keyword}}
        <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
      </mat-chip>
      <input placeholder="New keyword..."
             [matChipInputFor]="keywordsList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="true"
             (matChipInputTokenEnd)="addKeyword($event)"
             autocomplete="off">
    </mat-chip-list>
  </mat-form-field>


</form>

<div>
  <button mat-button (click)="submitProductCategoriesAndKeywordsForm()" [disabled]="!isProductCategoriesAndKeywordsFormValid()">{{!!formData?._id ? 'Update' : 'Create'}} Product Info</button>
</div>

<ng-template #categoriesTemplate let-categoriesContainer="_categoriesContainer">
  <div  class="container oz-drop-container">
    <div *ngFor="let category of categoriesContainer.categories" id="{{category._id}}">
      <li class="example-box">

        <div class="inline category-header">
          <div class="inline oz-caret" (click)="toggleCategory(category)">
            <mat-icon *ngIf="!isOpen(category)">keyboard_arrow_right</mat-icon>
            <mat-icon *ngIf="isOpen(category)">keyboard_arrow_down</mat-icon>
          </div>
          <div class="inline">
            <span>{{category?.sortWeight}}. {{category?.categoryName?.en}}</span>
          </div>
        </div>
        
        <mat-toolbar class="oz-category-toolbar" *ngIf="!isCategoryAdded(category)">
            <mat-icon 
              matTooltip="{{isCategoryLegalToBeAdded(category)? 'Add Category' : 'Not Allowed'}}" 
              class="oz-icon" 
              [ngClass]="{'disabled-to-add-category': !isCategoryLegalToBeAdded(category)}" 
              (click)="addCategoryClickHandler(category)">add</mat-icon>
        </mat-toolbar>

        <mat-toolbar class="oz-category-toolbar" *ngIf="isCategoryAdded(category)">
          <mat-icon matTooltip="Remove  Category" class="oz-icon" (click)="removeCategoryClickHandler(category)">clear</mat-icon>
        </mat-toolbar>
        
        <ul #nested class="nested" class="active" *ngIf="isOpen(category)">
          <ng-container
            *ngTemplateOutlet="categoriesTemplate; context: {_categoriesContainer: {categories: category.childCategories}}">
          </ng-container>
        </ul>
      </li>
    </div>
  </div>
</ng-template>