<table mat-table [dataSource]="items">
    
  <ng-container *ngFor="let column of columnsToDisplay">
    <ng-container matColumnDef="{{column}}" *ngIf="column !== 'actions'">
      <th mat-header-cell *matHeaderCellDef> {{displayColumnTranslations[column]?.title}} </th>
      <td mat-cell *matCellDef="let element" [ngStyle]="displayColumnTranslations[column]?.style || {}">
        <ng-container *ngIf="displayColumnTranslations[column].type === 'link'">
          <a [routerLink]="[displayColumnTranslations[column].linkRoute(element)]">
            {{
              displayColumnTranslations[column]?.transformer? displayColumnTranslations[column].transformer( element):  element[column]
            }} 
          </a>
        </ng-container>

        <ng-container *ngIf="displayColumnTranslations[column].type === 'image'">
          <img class="oz-list-shop-image" [src]="getShopImage(element)" alt="image" crossorigin="anonymous">
        </ng-container>

        <ng-container *ngIf="!displayColumnTranslations[column].type">
          {{
            displayColumnTranslations[column]?.transformer? displayColumnTranslations[column].transformer( element):  element[column]
          }} 
        </ng-container>
        
      </td>
    </ng-container>
  </ng-container>
  
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="actions-th"> Actions </th>
    <td mat-cell *matCellDef="let element" class="actions-td"> 

      <section class="example-section">
        <mat-slide-toggle
            class="example-margin"
            [color]="'accent'"
            [checked]="element?.enabled"
            [disabled]="false"
            (change)="changeEnableStatusHandler($event, element)">
          {{
            element?.enabled? 'Enabled' : 'Disabled'
          }}
        </mat-slide-toggle>

        <button (click)="editClickHandler(element)">
          <mat-icon>edit</mat-icon>
        </button>
  
        <button class="delete-btn" (click)="deleteClickHandler(element)">
          <mat-icon>delete</mat-icon>
        </button>

      </section>

      

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>