<div class="oz-content">
  <mat-tab-group *ngIf="shop" (selectedTabChange)="selectedTabChange($event)" [dynamicHeight]="true">
    <mat-tab label="Select Owner">
      <app-owner-form-component [formType]="'update'" [formData]="shop" (shopChangeHandler)="shopChangeHandler($event)">
      </app-owner-form-component>
    </mat-tab>
    <mat-tab label="Shop Info" [disabled]="shop.isEmptyShop()">
      <app-shop-info-form-component [formData]="shop" (shopChangeHandler)="shopChangeHandler($event)">
      </app-shop-info-form-component>
    </mat-tab>
    <mat-tab label="Contact Info" [disabled]="shop.isEmptyShop()">
      <app-contact-info-form [formData]="shop" (shopChangeHandler)="shopChangeHandler($event)"></app-contact-info-form>
    </mat-tab>
    <mat-tab label="Categories And Keywords" [disabled]="shop.isEmptyShop()">
      <app-categories-and-keywords-form-component [formData]="shop" (shopChangeHandler)="shopChangeHandler($event)">
      </app-categories-and-keywords-form-component>
    </mat-tab>
    <mat-tab label="Business Info" [disabled]="shop.isEmptyShop()">
      <app-business-info-form-component [formData]="shop">
      </app-business-info-form-component>
    </mat-tab>
    <mat-tab label="Shop Media" [disabled]="shop.isEmptyShop()">
      <app-media-form [formData]="shop" (shopChangeHandler)="shopChangeHandler($event)">
      </app-media-form>
    </mat-tab>
    <mat-tab label="Products" [disabled]="shop.isEmptyShop()">
      <ng-template matTabContent>
        <app-products-component [shop]="shop"></app-products-component>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>