.items-list-wrap {
  max-height: 300px;
  width: 100%;
  margin: auto;
  overflow: auto;
}

[disabled] {
  cursor: not-allowed;
}

.oz-link-type {
  cursor: pointer;
}

.oz-link-type :hover {
  text-decoration: underline;
  color: #416dff;
}

.underline {
  text-decoration: underline;
}