<mat-list>
  <h3 mat-subheader>
    <button (click)="goBack()" class="oz-link-type underline">Logs</button> 
    <mat-icon>keyboard_arrow_left</mat-icon>
    <button>{{activeFolder?.title}}</button>
  </h3>

  <ng-container *ngFor="let file of items">
    <mat-list-item (click)="fileClickHandler(file)" class="oz-link-type">
      <mat-icon mat-list-icon>label_important</mat-icon>
      <h4 mat-line>{{file.title}}</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-container>
  
</mat-list>