<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <p>{{data.question}}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">{{data.noButtonText || 'No'}}</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>{{data.yesButtonText || 'Yes'}}</button>
</div>