<div class="products-view__pagination">
  <ul class="pagination justify-content-center">
      <li class="page-item disabled"><a class="page-link page-link--with-arrow"
              href="#" aria-label="Previous"><svg
                  class="page-link__arrow page-link__arrow--left" aria-hidden="true"
                  width="8px" height="13px">
                  <use xlink:href="images/svg/sprite.svg#arrow-rounded-left-8x13"></use>
              </svg></a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active"><a class="page-link" href="#">2 <span
                  class="sr-only">(current)</span></a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link page-link--with-arrow" href="#"
              aria-label="Next"><svg class="page-link__arrow page-link__arrow--right"
                  aria-hidden="true" width="8px" height="13px">
                  <use xlink:href="images/svg/sprite.svg#arrow-rounded-right-8x13"></use>
              </svg></a></li>
  </ul>
</div>