<div class="topbar__item" #elementRef [ngClass]="{'topbar-dropdown--opened': isOpen}">
  <div class="topbar-dropdown">
    <button class="topbar-dropdown__btn" type="button">
      {{title}}
      <ng-container *ngIf="!!titleWithValue">
        : <span class="topbar__item-value">{{titleValue}}</span>
      </ng-container>
      <svg width="7px" height="5px">
        <use
          xlink:href="images/svg/sprite.svg#arrow-rounded-down-7x5"
        />
      </svg>
    </button>


    <div class="topbar-dropdown__body">
      <!-- .menu -->
      <div class="menu menu--layout--topbar" [ngClass]="{'menu--with-icons': !!withIcons}">
        <div class="menu__submenus-container"></div>
        <ul class="menu__list">

          <ng-container *ngFor="let item of listItems">

            <li class="menu__item">
              <div class="menu__item-submenu-offset"></div>
              <a class="menu__item-link" (click)="itemClickHandler(item)">
                <div class="menu__item-icon"  *ngIf="!!withIcons">
                  <img [src]="item.iconURL" alt/>
                </div>
                {{item.title}}
              </a>
            </li>
            
          </ng-container>

        </ul>
      </div>
      <!-- .menu / end -->
    </div>
  </div>
</div>




<ng-template>

<div *ngIf="false" class="topbar-dropdown">
  <button class="topbar-dropdown__btn" type="button" (click)="isOpen = !isOpen">
    {{title}}
    <span *ngIf="!!titleWithValue" class="topbar__item-value">{{titleValue}}</span>
    <svg width="7px" height="5px">
      <use xlink:href="images/svg/sprite.svg#arrow-rounded-down-7x5"></use>
    </svg>
  </button>
  <div class="topbar-dropdown__body">
    <ul class="menu menu--layout--topbar" [ngClass]="{'menu--with-icons': withIcons}">
      <ng-container *ngFor="let item of listItems">
        <li>
          <a *ngIf="item.route" [routerLink]="[item.route]">{{item.title}}</a>

          <a *ngIf="!item?.route" (click)="itemClickHandler(item)">
            <div class="menu__icon">
              <img [src]="item.iconURL" alt=""></div>{{item.title}}
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
</div>

</ng-template>