<div class="page-header">
    <div class="page-header__container container">
        <div class="page-header__breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a> <svg class="breadcrumb-arrow"
                            width="6px" height="9px">
                            <use xlink:href="images/svg/sprite.svg#arrow-rounded-right-6x9"></use>
                        </svg></li>
                    <li class="breadcrumb-item"><a href="#">Breadcrumb</a> <svg class="breadcrumb-arrow"
                            width="6px" height="9px">
                            <use xlink:href="images/svg/sprite.svg#arrow-rounded-right-6x9"></use>
                        </svg></li>
                    <li class="breadcrumb-item active" aria-current="page">Frequently Asked Questions</li>
                </ol>
            </nav>
        </div>
        <div class="page-header__title">
            <h1>Frequently Asked Questions</h1>
        </div>
    </div>
</div>
<div class="block faq">
    <div class="container">
        <div class="faq__section">
            <div class="faq__section-title">
                <h3>Shipping Information</h3>
            </div>
            <div class="faq__section-body">
                <div class="row">
                    <div class="faq__section-column col-12 col-lg-6">
                        <div class="typography">
                            <h6>What shipping methods are available?</h6>
                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat.</p>
                            <h6>Do you ship internationally?</h6>
                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat.</p>
                        </div>
                    </div>
                    <div class="faq__section-column col-12 col-lg-6">
                        <div class="typography">
                            <h6>What shipping methods are available?</h6>
                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat.</p>
                            <h6>Do you ship internationally?</h6>
                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq__section">
            <div class="faq__section-title">
                <h3>Payment Information</h3>
            </div>
            <div class="faq__section-body">
                <div class="row">
                    <div class="faq__section-column col-12 col-lg-6">
                        <div class="typography">
                            <h6>What shipping methods are available?</h6>
                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat.</p>
                        </div>
                    </div>
                    <div class="faq__section-column col-12 col-lg-6">
                        <div class="typography">
                            <h6>What shipping methods are available?</h6>
                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq__section">
            <div class="faq__section-title">
                <h3>Orders and Returns</h3>
            </div>
            <div class="faq__section-body">
                <div class="row">
                    <div class="faq__section-column col-12 col-lg-6">
                        <div class="typography">
                            <h6>What shipping methods are available?</h6>
                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat.</p>
                        </div>
                    </div>
                    <div class="faq__section-column col-12 col-lg-6">
                        <div class="typography">
                            <h6>What shipping methods are available?</h6>
                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>