<div class="wrapper">
  <div class="wrapper-row">
    <app-generic-filter [query]="query" (filterChange)="filterChange($event)" [numTotal]="numTotal"></app-generic-filter>
  </div>
  <div class="wrapper-row">
    <app-toolbar (createHandler)="createShopHandler()"></app-toolbar>
  </div>
  <div class="wrapper-row">
    <app-list [items]="items"
      (editHandler)="editHandler($event)" 
      (deleteHandler)="deleteHandler($event)"
      (enableStatusChangeHandler)="enableStatusChangeHandler($event)">
    </app-list>
  </div>
</div>