<div class="site">
  <ng-container *ngIf="isWeb">
    <app-web-component></app-web-component>
  </ng-container>

  <ng-container *ngIf="isMobile">
    <app-mobile-component></app-mobile-component>
  </ng-container>
</div>
