<form [formGroup]="shopContactFormGroup" class="cantact-info-form " autocomplete="off">
  <!-- ==============PHONES================== -->
  <mat-form-field class="example-chip-list">
    <mat-chip-list #phoneChipList aria-label="Phone selection">
      <mat-chip *ngFor="let phone of formData.phones" [selectable]="phoneChipsConfig.selectable"
        [removable]="phoneChipsConfig.removable" (removed)="removePhone(phone)">
        {{phone}}
        <mat-icon matChipRemove *ngIf="phoneChipsConfig.removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Add Phone..." [matChipInputFor]="phoneChipList" autocomplete="off"
        [matChipInputSeparatorKeyCodes]="phoneChipsConfig.separatorKeysCodes"
        [matChipInputAddOnBlur]="phoneChipsConfig.addOnBlur" (matChipInputTokenEnd)="addPhone($event)">
    </mat-chip-list>
  </mat-form-field>
  <!-- ====================================== -->

  <!-- ==============EMAILS================== -->
  <mat-form-field class="example-chip-list">
    <mat-chip-list #emailChipList aria-label="Email selection">
      <mat-chip *ngFor="let email of formData.emails" [selectable]="emailChipsConfig.selectable"
        [removable]="emailChipsConfig.removable" (removed)="removeEmail(email)">
        {{email}}
        <mat-icon matChipRemove *ngIf="emailChipsConfig.removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Add Email..." [matChipInputFor]="emailChipList" autocomplete="off"
        [matChipInputSeparatorKeyCodes]="emailChipsConfig.separatorKeysCodes"
        [matChipInputAddOnBlur]="emailChipsConfig.addOnBlur" (matChipInputTokenEnd)="addEmail($event)">
    </mat-chip-list>
  </mat-form-field>
  <!-- ====================================== -->

  <!-- ==============FACEBOOK================ -->
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Facebook" formControlName="facebook" autocomplete="off">
  </mat-form-field>
  <!-- ====================================== -->
  <!-- ================ADDRESS=============== -->
  <div class="address-list">
    <table mat-table [dataSource]="formData.addresses">

      <ng-container *ngFor="let column of addressColumnsToDisplay">
        <ng-container matColumnDef="{{column}}" *ngIf="column != 'action'">
          <th mat-header-cell *matHeaderCellDef> {{addressDisplayColumnTranslations[column]?.title}} </th>
          <td mat-cell *matCellDef="let element"
            [ngStyle]="addressDisplayColumnTranslations[column]?.style || {}"> {{
              addressDisplayColumnTranslations[column]?.transformer? addressDisplayColumnTranslations[column].transformer( element):  element[column]
          }} </td>
        </ng-container>

        <ng-container matColumnDef="{{column}}" *ngIf="column === 'action'">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element"> 
            <button mat-raised-button (click)="removeAddress(element)">
              <mat-icon>delete</mat-icon>
            </button>  
          </td>
        </ng-container>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="addressColumnsToDisplay; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: addressColumnsToDisplay;"></tr>
    </table>
  </div>
  <!-- ====================================== -->

</form>

<form [formGroup]="shopContactAddressFormGroup" autocomplete="off" class="cantact-info-form ">
  <div class="inline-form-fields">
    <mat-form-field>
      <input matInput placeholder="Street" formControlName="street" required autocomplete="off">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="City" formControlName="city" required autocomplete="off">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Province" formControlName="province" autocomplete="off">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Country" aria-label="Country" autocomplete="off"
      formControlName="country" [matAutocomplete]="countryAutocomplete" required>
      <mat-autocomplete #countryAutocomplete="matAutocomplete" [displayWith]="countryDisplayFunction">
        <mat-option *ngFor="let country of countries | async" [value]="country">
          <span>{{country.name}}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="ZIP" formControlName="zip" required autocomplete="off">
    </mat-form-field>

    <button mat-raised-button (click)="addAddress()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</form>

<div>
  <button mat-button (click)="submitShopContactForm()">Update Shop Contact Info</button>
</div>