<h1 mat-dialog-title>
  {{
    data.type === 'create'? 'Create New': 'Update'  
  }} Product
</h1>
<div class="oz-content" *ngIf="product">
  
  <mat-tab-group [dynamicHeight]="true">
    <mat-tab label="Product Info">
      <app-product-info-form-component
        [formData]="product"
        (productChangeHandler)="productChangeHandler($event)"
      ></app-product-info-form-component>
    </mat-tab>
    <mat-tab label="Product Media" [disabled]="product.isEmptyProduct()">
      <app-product-media-form-component
        [formData]="product"
        (productChangeHandler)="productChangeHandler($event)"
      ></app-product-media-form-component>
    </mat-tab>
    <mat-tab label="Categories & Keywords" [disabled]="product.isEmptyProduct()">
      <ng-template matTabContent>
        <app-product-categories-and-keywords-component
          [formData]="product"
          (productChangeHandler)="productChangeHandler($event)"
          ></app-product-categories-and-keywords-component>
      </ng-template>
    </mat-tab>
    
  </mat-tab-group>
</div>