.items-list-wrap {
  max-height: 300px;
  width: 100%;
  margin: auto;
  overflow: auto;
}

[disabled] {
  cursor: not-allowed;
}

.oz-folder-item {
  cursor: pointer;
}

.oz-folder-item :hover {
  text-decoration: underline;
  color: #416dff;
}