<mat-list>
  <h3 mat-subheader>Folders</h3>

  <ng-container *ngFor="let folder of items">
    <mat-list-item (click)="folderClickHandler(folder)" class="oz-folder-item">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>{{folder.title}}</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-container>
  
</mat-list>