<div class="block block-posts block-posts--layout--list-sm" data-layout="list-sm" #carouselContainer>
    <div class="container">
        <div class="block-header">
            <h3 class="block-header__title">Latest News</h3>
            <div class="block-header__divider"></div>
            
            <div class="block-header__arrows-list">
                <button class="block-header__arrow block-header__arrow--left" type="button" (click)="leftArrowClickHandler()">
                    <svg width="7px" height="11px">
                        <use xlink:href="images/svg/sprite.svg#arrow-rounded-left-7x11"></use>
                    </svg>
                </button> 
                
                <button class="block-header__arrow block-header__arrow--right" type="button" (click)="rightArrowClickHandler()">
                    <svg width="7px" height="11px">
                        <use xlink:href="images/svg/sprite.svg#arrow-rounded-right-7x11"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="block-posts__slider">
            <div class="owl-carousel" #carousel>
                <div class="post-card">
                    <div class="post-card__image"><a href="#"><img src="images/others/post-1.jpg" alt=""></a>
                    </div>
                    <div class="post-card__info">
                        <div class="post-card__category"><a href="#">Special Offers</a></div>
                        <div class="post-card__name"><a href="#">Philosophy That Addresses Topics Such As
                                Goodness</a></div>
                        <div class="post-card__date">October 19, 2019</div>
                        <div class="post-card__content">In one general sense, philosophy is associated with
                            wisdom, intellectual culture and a search for knowledge. In that sense, all
                            cultures...</div>
                        <div class="post-card__read-more"><a href="#" class="btn btn-secondary btn-sm">Read
                                More</a></div>
                    </div>
                </div>
                <div class="post-card">
                    <div class="post-card__image"><a href="#"><img src="images/others/post-2.jpg" alt=""></a>
                    </div>
                    <div class="post-card__info">
                        <div class="post-card__category"><a href="#">Latest News</a></div>
                        <div class="post-card__name"><a href="#">Logic Is The Study Of Reasoning And
                                Argument Part 2</a></div>
                        <div class="post-card__date">September 5, 2019</div>
                        <div class="post-card__content">In one general sense, philosophy is associated with
                            wisdom, intellectual culture and a search for knowledge. In that sense, all
                            cultures...</div>
                        <div class="post-card__read-more"><a href="#" class="btn btn-secondary btn-sm">Read
                                More</a></div>
                    </div>
                </div>
                <div class="post-card">
                    <div class="post-card__image"><a href="#"><img src="images/others/post-3.jpg" alt=""></a>
                    </div>
                    <div class="post-card__info">
                        <div class="post-card__category"><a href="#">New Arrivals</a></div>
                        <div class="post-card__name"><a href="#">Some Philosophers Specialize In One Or More
                                Historical Periods</a></div>
                        <div class="post-card__date">August 12, 2019</div>
                        <div class="post-card__content">In one general sense, philosophy is associated with
                            wisdom, intellectual culture and a search for knowledge. In that sense, all
                            cultures...</div>
                        <div class="post-card__read-more"><a href="#" class="btn btn-secondary btn-sm">Read
                                More</a></div>
                    </div>
                </div>
                <div class="post-card">
                    <div class="post-card__image"><a href="#"><img src="images/others/post-4.jpg" alt=""></a>
                    </div>
                    <div class="post-card__info">
                        <div class="post-card__category"><a href="#">Special Offers</a></div>
                        <div class="post-card__name"><a href="#">A Variety Of Other Academic And
                                Non-Academic Approaches Have Been Explored</a></div>
                        <div class="post-card__date">Jule 30, 2019</div>
                        <div class="post-card__content">In one general sense, philosophy is associated with
                            wisdom, intellectual culture and a search for knowledge. In that sense, all
                            cultures...</div>
                        <div class="post-card__read-more"><a href="#" class="btn btn-secondary btn-sm">Read
                                More</a></div>
                    </div>
                </div>
                <div class="post-card">
                    <div class="post-card__image"><a href="#"><img src="images/others/post-5.jpg" alt=""></a>
                    </div>
                    <div class="post-card__info">
                        <div class="post-card__category"><a href="#">New Arrivals</a></div>
                        <div class="post-card__name"><a href="#">Germany Was The First Country To
                                Professionalize Philosophy</a></div>
                        <div class="post-card__date">June 12, 2019</div>
                        <div class="post-card__content">In one general sense, philosophy is associated with
                            wisdom, intellectual culture and a search for knowledge. In that sense, all
                            cultures...</div>
                        <div class="post-card__read-more"><a href="#" class="btn btn-secondary btn-sm">Read
                                More</a></div>
                    </div>
                </div>
                <div class="post-card">
                    <div class="post-card__image"><a href="#"><img src="images/others/post-6.jpg" alt=""></a>
                    </div>
                    <div class="post-card__info">
                        <div class="post-card__category"><a href="#">Special Offers</a></div>
                        <div class="post-card__name"><a href="#">Logic Is The Study Of Reasoning And
                                Argument Part 1</a></div>
                        <div class="post-card__date">May 21, 2019</div>
                        <div class="post-card__content">In one general sense, philosophy is associated with
                            wisdom, intellectual culture and a search for knowledge. In that sense, all
                            cultures...</div>
                        <div class="post-card__read-more"><a href="#" class="btn btn-secondary btn-sm">Read
                                More</a></div>
                    </div>
                </div>
                <div class="post-card">
                    <div class="post-card__image"><a href="#"><img src="images/others/post-7.jpg" alt=""></a>
                    </div>
                    <div class="post-card__info">
                        <div class="post-card__category"><a href="#">Special Offers</a></div>
                        <div class="post-card__name"><a href="#">Many Inquiries Outside Of Academia Are
                                Philosophical In The Broad Sense</a></div>
                        <div class="post-card__date">April 3, 2019</div>
                        <div class="post-card__content">In one general sense, philosophy is associated with
                            wisdom, intellectual culture and a search for knowledge. In that sense, all
                            cultures...</div>
                        <div class="post-card__read-more"><a href="#" class="btn btn-secondary btn-sm">Read
                                More</a></div>
                    </div>
                </div>
                <div class="post-card">
                    <div class="post-card__image"><a href="#"><img src="images/others/post-8.jpg" alt=""></a>
                    </div>
                    <div class="post-card__info">
                        <div class="post-card__category"><a href="#">Latest News</a></div>
                        <div class="post-card__name"><a href="#">An Advantage Of Digital Circuits When
                                Compared To Analog Circuits</a></div>
                        <div class="post-card__date">Mart 29, 2019</div>
                        <div class="post-card__content">In one general sense, philosophy is associated with
                            wisdom, intellectual culture and a search for knowledge. In that sense, all
                            cultures...</div>
                        <div class="post-card__read-more"><a href="#" class="btn btn-secondary btn-sm">Read
                                More</a></div>
                    </div>
                </div>
                <div class="post-card">
                    <div class="post-card__image"><a href="#"><img src="images/others/post-9.jpg" alt=""></a>
                    </div>
                    <div class="post-card__info">
                        <div class="post-card__category"><a href="#">New Arrivals</a></div>
                        <div class="post-card__name"><a href="#">A Digital Circuit Is Typically Constructed
                                From Small Electronic Circuits</a></div>
                        <div class="post-card__date">February 10, 2019</div>
                        <div class="post-card__content">In one general sense, philosophy is associated with
                            wisdom, intellectual culture and a search for knowledge. In that sense, all
                            cultures...</div>
                        <div class="post-card__read-more"><a href="#" class="btn btn-secondary btn-sm">Read
                                More</a></div>
                    </div>
                </div>
                <div class="post-card">
                    <div class="post-card__image"><a href="#"><img src="images/others/post-10.jpg"
                                alt=""></a></div>
                    <div class="post-card__info">
                        <div class="post-card__category"><a href="#">Special Offers</a></div>
                        <div class="post-card__name"><a href="#">Engineers Use Many Methods To Minimize
                                Logic Functions</a></div>
                        <div class="post-card__date">January 1, 2019</div>
                        <div class="post-card__content">In one general sense, philosophy is associated with
                            wisdom, intellectual culture and a search for knowledge. In that sense, all
                            cultures...</div>
                        <div class="post-card__read-more"><a href="#" class="btn btn-secondary btn-sm">Read
                                More</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>