<!-- .product__gallery -->
<div #gallery>
  <div class="product-gallery__featured">
    <div class="owl-carousel" id="product-image">

        <ng-container *ngFor="let _imageSRC of getProductImages()">
            <a href="images/others/product-16.html" target="_blank">
                <img [src]="_imageSRC" alt="" crossorigin="anonymous"/>
              </a>
        </ng-container>
      
    </div>
  </div>
  <div class="product-gallery__carousel">
    <div class="owl-carousel" id="product-carousel">
        
        <ng-container *ngFor="let _imageSRC of getProductImages()">
            <a href="#" class="product-gallery__carousel-item">
                <img class="product-gallery__carousel-image" [src]="_imageSRC" alt="" crossorigin="anonymous"/>
              </a>
        </ng-container>
      
    </div>
  </div>
</div>
<!-- .product__gallery / end -->
