<div class="page-wrapper">
  <app-filters [query]="directoryQuery" [numTotal]="directoryNumTotal$ | async" (queryChange)="reloadParams($event)"></app-filters>

  <app-folder-list *ngIf="!activeFolder" [items]="directoryItems$ | async" (folderSelectHandler)="folderSelectHandler($event)"></app-folder-list>
  <app-file-list *ngIf="activeFolder" 
      [items]="fileItems$ | async" 
      [activeFolder]="activeFolder" 
      (folderSelectHandler)="folderSelectHandler($event)"
      (fileSelectHandler)="fileSelectHandler($event)">
  </app-file-list>
</div>