<div>
  <form [formGroup]="addOwnerFormGroup" class="owner-form">
    <mat-form-field>
      <input matInput placeholder="Owner" formControlName="owner" [matAutocomplete]="ownerTypeahead">
      <mat-autocomplete #ownerTypeahead="matAutocomplete" [displayWith]="ownerDisplayFunction">
        <mat-option *ngFor="let owner of marketManagers | async" [value]="owner">
          <span>{{owner.firstName}} {{owner.lastName}}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>    
  </form>
</div>

<div>
  <button mat-button (click)="submitOwnerForm()" [disabled]="!addOwnerFormGroup.valid">Submit</button>
</div>