<div class="account-menu">
  <!-- UNSIGNED USER -->
  <ng-container *ngIf="!isUserSignedIn">
    <form class="account-menu__form">
      <div class="account-menu__form-title">Log In to Your Account</div>
      <div class="form-group">
        <label for="header-signin-email" class="sr-only">Email address</label>
        <input
          id="header-signin-email"
          type="email"
          class="form-control form-control-sm"
          placeholder="Email address"
        />
      </div>
      <div class="form-group">
        <label for="header-signin-password" class="sr-only">Password</label>
        <div class="account-menu__form-forgot">
          <input
            id="header-signin-password"
            type="password"
            class="form-control form-control-sm"
            placeholder="Password"
          />
          <a href class="account-menu__form-forgot-link">Forgot?</a>
        </div>
      </div>
      <div class="form-group account-menu__form-button">
        <button type="submit" class="btn btn-primary btn-sm">Login</button>
      </div>
      <div class="account-menu__form-link">
        <a href="account-login.html">Create An Account</a>
      </div>
    </form>
  </ng-container>

  <!-- SIGNED USER -->
  <ng-container *ngIf="isUserSignedIn">
    <div class="account-menu__divider"></div>
    <a href="account-dashboard.html" class="account-menu__user"
      ><div class="account-menu__user-avatar">
        <img src="images/others/avatar-3.jpg" alt />
      </div>
      <div class="account-menu__user-info">
        <div class="account-menu__user-name">Helena Garcia</div>
        <div class="account-menu__user-email">stroyka@example.com</div>
      </div></a
    >
    <div class="account-menu__divider"></div>
    <ul class="account-menu__links">
      <li>
        <a href="account-profile.html">Edit Profile</a>
      </li>
      <li>
        <a href="account-orders.html">Order History</a>
      </li>
      <li>
        <a href="account-addresses.html">Addresses</a>
      </li>
      <li>
        <a href="account-password.html">Password</a>
      </li>
    </ul>
    <div class="account-menu__divider"></div>
    <ul class="account-menu__links">
      <li><a href="account-login.html">Logout</a></li>
    </ul>
  </ng-container>
</div>
