<div class="cart block" *ngIf="!isCartEmpty">
  <div class="container">
    <table class="cart__table cart-table">
      <thead class="cart-table__head">
        <tr class="cart-table__row" >
          <th class="cart-table__column cart-table__column--image">
            Image
          </th>
          <th class="cart-table__column cart-table__column--product">
            Product
          </th>
          <th class="cart-table__column cart-table__column--price">
            Price
          </th>
          <th class="cart-table__column cart-table__column--quantity">
            Quantity
          </th>
          <th class="cart-table__column cart-table__column--total">
            Total
          </th>
          <th
            class="cart-table__column cart-table__column--remove"
          ></th>
        </tr>
      </thead>
      <tbody class="cart-table__body">
        <tr class="cart-table__row" cart-list-item-component *ngFor="let cartItem of cart?.cartItems; trackBy: trackCartItemsByFN" 
          [cartItem]="cartItem"
          (removeCartItemHandler)="removeCartItem($event)"
          (cartItemChangeHandler)="cartItemChangeHandler($event)" 
          (cartItemQuantityUpdatehandler)="cartItemQuantityUpdatehandler($event)">
        </tr>
      </tbody>
    </table>

    <!-- Update Cart/ Apply Coupon  TODO -->
    <div *ngIf="false" class="cart__actions">
      <form class="cart__coupon-form">
        <label for="input-coupon-code" class="sr-only">Password</label>
        <input
          type="text"
          class="form-control"
          id="input-coupon-code"
          placeholder="Coupon Code"
        />
        <button type="submit" class="btn btn-primary">
          Apply Coupon
        </button>
      </form>
      <div class="cart__buttons">
        <a href="index.html" class="btn btn-light">Continue Shopping</a>
        <a href class="btn btn-primary cart__update-button"
          >Update Cart</a
        >
      </div>
    </div>

    <div class="row justify-content-end pt-5">
      <div class="col-12 col-md-7 col-lg-6 col-xl-5">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Cart Totals</h3>
            <table class="cart__totals">
              <thead class="cart__totals-header">
                <tr>
                  <th>Subtotal</th>
                  <td>GEL {{cart?.subTotal | number: '1.2-2'}}</td>
                </tr>
              </thead>
              <tbody class="cart__totals-body">
                <tr>
                  <th>Shipping</th>
                  <td>
                    GEL {{cart?.shipping | number: '1.2-2'}}
                    <div class="cart__calc-shipping">
                      <a href="#">Calculate Shipping</a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>Tax</th>
                  <td>GEL {{cart?.tax | number: '1.2-2'}}</td>
                </tr>
              </tbody>
              <tfoot class="cart__totals-footer">
                <tr>
                  <th>Total</th>
                  <td>GEL {{cart?.total | number: '1.2-2'}}</td>
                </tr>
              </tfoot>
            </table>
            <a
              class="btn btn-primary btn-xl btn-block cart__checkout-button"
              [routerLink]="['/checkout']"
              >Proceed to checkout</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block-empty__body" *ngIf="isCartEmpty">
  <div class="block-empty__message">Your shopping cart is empty!</div>
  <div class="block-empty__actions"><a class="btn btn-primary btn-sm" [routerLink]="['/']">Continue</a></div>
</div>