<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="input-group">
          <input class="form-control with-margin no-outline" 
                  placeholder="Search By Keywords..." 
                  autocomplete="off" 
                  required 
                  [(ngModel)]="query.keyword"
                  name="keyword">
          <button class="with-margin no-outline" mat-raised-button (click)="updateQuery()">
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <mat-paginator [length]="numTotal" [pageSize]="query.limit" [pageIndex]="query.page - 1" [pageSizeOptions]="[10, 20, 50, 100]" (page)="matEventHandler($event)">
  </mat-paginator>
</div>