<div class="nav-panel__departments">
    <!-- .departments -->
    <div class="departments departments--opened departments--fixed"
        data-departments-fixed-by=".block-slideshow">
        <div class="departments__body">
            <div class="departments__links-wrapper">
                <ul class="departments__links">
                    <li class="departments__item"><a href="#">Power Tools <svg
                                class="departments__link-arrow" width="6px" height="9px">
                                <use xlink:href="images/svg/sprite.svg#arrow-rounded-right-6x9">
                                </use>
                            </svg></a>
                        <div class="departments__megamenu departments__megamenu--xl">
                            <!-- .megamenu -->
                            <div class="megamenu megamenu--departments"
                                style="background-image: url('images/megamenu/megamenu-1.jpg');">
                                <div class="row">
                                    <div class="col-3">
                                        <ul class="megamenu__links megamenu__links--level--0">
                                            <li class="megamenu__item megamenu__item--with-submenu">
                                                <a href="#">Power Tools</a>
                                                <ul class="megamenu__links megamenu__links--level--1">
                                                    <li class="megamenu__item"><a href="#">Engravers</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Drills</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Wrenches</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Plumbing</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Wall
                                                            Chaser</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Pneumatic
                                                            Tools</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Milling
                                                            Cutters</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="megamenu__item"><a href="#">Workbenches</a></li>
                                            <li class="megamenu__item"><a href="#">Presses</a></li>
                                            <li class="megamenu__item"><a href="#">Spray
                                                    Guns</a></li>
                                            <li class="megamenu__item"><a href="#">Riveters</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-3">
                                        <ul class="megamenu__links megamenu__links--level--0">
                                            <li class="megamenu__item megamenu__item--with-submenu">
                                                <a href="#">Hand Tools</a>
                                                <ul class="megamenu__links megamenu__links--level--1">
                                                    <li class="megamenu__item"><a
                                                            href="#">Screwdrivers</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Handsaws</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Knives</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Axes</a></li>
                                                    <li class="megamenu__item"><a
                                                            href="#">Multitools</a></li>
                                                    <li class="megamenu__item"><a href="#">Paint
                                                            Tools</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="megamenu__item megamenu__item--with-submenu">
                                                <a href="#">Garden Equipment</a>
                                                <ul class="megamenu__links megamenu__links--level--1">
                                                    <li class="megamenu__item"><a href="#">Motor
                                                            Pumps</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Chainsaws</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Electric
                                                            Saws</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Brush
                                                            Cutters</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-3">
                                        <ul class="megamenu__links megamenu__links--level--0">
                                            <li class="megamenu__item megamenu__item--with-submenu">
                                                <a href="#">Machine Tools</a>
                                                <ul class="megamenu__links megamenu__links--level--1">
                                                    <li class="megamenu__item"><a href="#">Thread
                                                            Cutting</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Chip
                                                            Blowers</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Sharpening
                                                            Machines</a></li>
                                                    <li class="megamenu__item"><a href="#">Pipe
                                                            Cutters</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Slotting
                                                            machines</a></li>
                                                    <li class="megamenu__item"><a href="#">Lathes</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-3">
                                        <ul class="megamenu__links megamenu__links--level--0">
                                            <li class="megamenu__item megamenu__item--with-submenu">
                                                <a href="#">Instruments</a>
                                                <ul class="megamenu__links megamenu__links--level--1">
                                                    <li class="megamenu__item"><a href="#">Welding
                                                            Equipment</a></li>
                                                    <li class="megamenu__item"><a href="#">Power
                                                            Tools</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Hand
                                                            Tools</a></li>
                                                    <li class="megamenu__item"><a href="#">Measuring
                                                            Tool</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .megamenu / end -->
                        </div>
                    </li>
                    <li class="departments__item"><a href="#">Hand Tools <svg
                                class="departments__link-arrow" width="6px" height="9px">
                                <use xlink:href="images/svg/sprite.svg#arrow-rounded-right-6x9">
                                </use>
                            </svg></a>
                        <div class="departments__megamenu departments__megamenu--lg">
                            <!-- .megamenu -->
                            <div class="megamenu megamenu--departments"
                                style="background-image: url('images/megamenu/megamenu-2.jpg');">
                                <div class="row">
                                    <div class="col-4">
                                        <ul class="megamenu__links megamenu__links--level--0">
                                            <li class="megamenu__item megamenu__item--with-submenu">
                                                <a href="#">Hand Tools</a>
                                                <ul class="megamenu__links megamenu__links--level--1">
                                                    <li class="megamenu__item"><a
                                                            href="#">Screwdrivers</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Handsaws</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Knives</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Axes</a></li>
                                                    <li class="megamenu__item"><a
                                                            href="#">Multitools</a></li>
                                                    <li class="megamenu__item"><a href="#">Paint
                                                            Tools</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="megamenu__item megamenu__item--with-submenu">
                                                <a href="#">Garden Equipment</a>
                                                <ul class="megamenu__links megamenu__links--level--1">
                                                    <li class="megamenu__item"><a href="#">Motor
                                                            Pumps</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Chainsaws</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Electric
                                                            Saws</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Brush
                                                            Cutters</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-4">
                                        <ul class="megamenu__links megamenu__links--level--0">
                                            <li class="megamenu__item megamenu__item--with-submenu">
                                                <a href="#">Machine Tools</a>
                                                <ul class="megamenu__links megamenu__links--level--1">
                                                    <li class="megamenu__item"><a href="#">Thread
                                                            Cutting</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Chip
                                                            Blowers</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Sharpening
                                                            Machines</a></li>
                                                    <li class="megamenu__item"><a href="#">Pipe
                                                            Cutters</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Slotting
                                                            machines</a></li>
                                                    <li class="megamenu__item"><a href="#">Lathes</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-4">
                                        <ul class="megamenu__links megamenu__links--level--0">
                                            <li class="megamenu__item megamenu__item--with-submenu">
                                                <a href="#">Instruments</a>
                                                <ul class="megamenu__links megamenu__links--level--1">
                                                    <li class="megamenu__item"><a href="#">Welding
                                                            Equipment</a></li>
                                                    <li class="megamenu__item"><a href="#">Power
                                                            Tools</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Hand
                                                            Tools</a></li>
                                                    <li class="megamenu__item"><a href="#">Measuring
                                                            Tool</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .megamenu / end -->
                        </div>
                    </li>
                    <li class="departments__item"><a href="#">Machine Tools <svg
                                class="departments__link-arrow" width="6px" height="9px">
                                <use xlink:href="images/svg/sprite.svg#arrow-rounded-right-6x9">
                                </use>
                            </svg></a>
                        <div class="departments__megamenu departments__megamenu--nl">
                            <!-- .megamenu -->
                            <div class="megamenu megamenu--departments"
                                style="background-image: url('images/megamenu/megamenu-3.jpg');">
                                <div class="row">
                                    <div class="col-6">
                                        <ul class="megamenu__links megamenu__links--level--0">
                                            <li class="megamenu__item megamenu__item--with-submenu">
                                                <a href="#">Hand Tools</a>
                                                <ul class="megamenu__links megamenu__links--level--1">
                                                    <li class="megamenu__item"><a
                                                            href="#">Screwdrivers</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Handsaws</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Knives</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Axes</a></li>
                                                    <li class="megamenu__item"><a
                                                            href="#">Multitools</a></li>
                                                    <li class="megamenu__item"><a href="#">Paint
                                                            Tools</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="megamenu__item megamenu__item--with-submenu">
                                                <a href="#">Garden Equipment</a>
                                                <ul class="megamenu__links megamenu__links--level--1">
                                                    <li class="megamenu__item"><a href="#">Motor
                                                            Pumps</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Chainsaws</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Electric
                                                            Saws</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Brush
                                                            Cutters</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-6">
                                        <ul class="megamenu__links megamenu__links--level--0">
                                            <li class="megamenu__item megamenu__item--with-submenu">
                                                <a href="#">Instruments</a>
                                                <ul class="megamenu__links megamenu__links--level--1">
                                                    <li class="megamenu__item"><a href="#">Welding
                                                            Equipment</a></li>
                                                    <li class="megamenu__item"><a href="#">Power
                                                            Tools</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Hand
                                                            Tools</a></li>
                                                    <li class="megamenu__item"><a href="#">Measuring
                                                            Tool</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .megamenu / end -->
                        </div>
                    </li>
                    <li class="departments__item"><a href="#">Building Supplies <svg
                                class="departments__link-arrow" width="6px" height="9px">
                                <use xlink:href="images/svg/sprite.svg#arrow-rounded-right-6x9">
                                </use>
                            </svg></a>
                        <div class="departments__megamenu departments__megamenu--sm">
                            <!-- .megamenu -->
                            <div class="megamenu megamenu--departments">
                                <div class="row">
                                    <div class="col-12">
                                        <ul class="megamenu__links megamenu__links--level--0">
                                            <li class="megamenu__item megamenu__item--with-submenu">
                                                <a href="#">Hand Tools</a>
                                                <ul class="megamenu__links megamenu__links--level--1">
                                                    <li class="megamenu__item"><a
                                                            href="#">Screwdrivers</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Handsaws</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Knives</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Axes</a></li>
                                                    <li class="megamenu__item"><a
                                                            href="#">Multitools</a></li>
                                                    <li class="megamenu__item"><a href="#">Paint
                                                            Tools</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="megamenu__item megamenu__item--with-submenu">
                                                <a href="#">Garden Equipment</a>
                                                <ul class="megamenu__links megamenu__links--level--1">
                                                    <li class="megamenu__item"><a href="#">Motor
                                                            Pumps</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Chainsaws</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Electric
                                                            Saws</a>
                                                    </li>
                                                    <li class="megamenu__item"><a href="#">Brush
                                                            Cutters</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .megamenu / end -->
                        </div>
                    </li>
                    <li class="departments__item departments__item--menu"><a href="#">Electrical <svg
                                class="departments__link-arrow" width="6px" height="9px">
                                <use xlink:href="images/svg/sprite.svg#arrow-rounded-right-6x9">
                                </use>
                            </svg></a>
                        <div class="departments__menu">
                            <!-- .menu -->
                            <ul class="menu menu--layout--classic">
                                <li><a href="#">Soldering Equipment <svg class="menu__arrow" width="6px"
                                            height="9px">
                                            <use xlink:href="images/svg/sprite.svg#arrow-rounded-right-6x9">
                                            </use>
                                        </svg></a>
                                    <div class="menu__submenu">
                                        <!-- .menu -->
                                        <ul class="menu menu--layout--classic">
                                            <li><a href="#">Soldering Station</a></li>
                                            <li><a href="#">Soldering Dryers</a></li>
                                            <li><a href="#">Gas Soldering Iron</a></li>
                                            <li><a href="#">Electric Soldering Iron</a>
                                            </li>
                                        </ul><!-- .menu / end -->
                                    </div>
                                </li>
                                <li><a href="#">Light Bulbs</a></li>
                                <li><a href="#">Batteries</a></li>
                                <li><a href="#">Light Fixtures</a></li>
                                <li><a href="#">Warm Floor</a></li>
                                <li><a href="#">Generators</a></li>
                                <li><a href="#">UPS</a></li>
                            </ul><!-- .menu / end -->
                        </div>
                    </li>
                    <li class="departments__item"><a href="#">Power Machinery</a></li>
                    <li class="departments__item"><a href="#">Measurement</a></li>
                    <li class="departments__item"><a href="#">Clothes & PPE</a></li>
                    <li class="departments__item"><a href="#">Plumbing</a></li>
                    <li class="departments__item"><a href="#">Storage & Organization</a>
                    </li>
                    <li class="departments__item"><a href="#">Welding & Soldering</a>
                    </li>
                </ul>
            </div>
        </div><button class="departments__button"><svg class="departments__button-icon" width="18px"
                height="14px">
                <use xlink:href="images/svg/sprite.svg#menu-18x14"></use>
            </svg> Shop By Category <svg class="departments__button-arrow" width="9px" height="6px">
                <use xlink:href="images/svg/sprite.svg#arrow-rounded-down-9x6"></use>
            </svg></button>
    </div><!-- .departments / end -->
</div>