<div class="block block-brands">
    <div class="container">
        <div class="block-brands__slider">
            <div class="owl-carousel" #carouselElement>
                <div class="block-brands__item"><a href="#"><img src="images/others/logo-1.png" alt=""></a>
                </div>
                <div class="block-brands__item"><a href="#"><img src="images/others/logo-2.png" alt=""></a>
                </div>
                <div class="block-brands__item"><a href="#"><img src="images/others/logo-3.png" alt=""></a>
                </div>
                <div class="block-brands__item"><a href="#"><img src="images/others/logo-4.png" alt=""></a>
                </div>
                <div class="block-brands__item"><a href="#"><img src="images/others/logo-5.png" alt=""></a>
                </div>
                <div class="block-brands__item"><a href="#"><img src="images/others/logo-6.png" alt=""></a>
                </div>
                <div class="block-brands__item"><a href="#"><img src="images/others/logo-7.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>