<div class="products-view__pagination">
    <ul class="pagination justify-content-center">
        <li class="page-item" [ngClass]="{disabled: !canGoLeft()}" (click)="goLeft()">
            <a class="page-link page-link--with-arrow" aria-label="Previous">
                <svg class="page-link__arrow page-link__arrow--left" aria-hidden="true" width="8px" height="13px">
                    <use xlink:href="images/svg/sprite.svg#arrow-rounded-left-8x13"></use>
                </svg>
            </a>
        </li>

        <ng-container *ngFor="let pageNum of pages">
            <li class="page-item" [ngClass]="{active: isActivePage(pageNum)}" (click)="goToPage(pageNum)"><a class="page-link">{{pageNum}}</a></li>
        </ng-container>


        <li class="page-item" [ngClass]="{disabled: !canGoRight()}" (click)="goRight()">
            <a class="page-link page-link--with-arrow" aria-label="Next">
                <svg class="page-link__arrow page-link__arrow--right" aria-hidden="true" width="8px" height="13px">
                    <use xlink:href="images/svg/sprite.svg#arrow-rounded-right-8x13"></use>
                </svg>
            </a>
        </li>
    </ul>
</div>