<!-- .product__info -->

    <div class="product__wishlist-compare">
        <button type="button" class="btn btn-sm btn-light btn-svg-icon" data-toggle="tooltip" data-placement="right" title="Wishlist">
            <svg width="16px" height="16px">
                <use xlink:href="images/svg/sprite.svg#wishlist-16"></use>
            </svg>
        </button> 
        
        <button type="button" class="btn btn-sm btn-light btn-svg-icon" data-toggle="tooltip" data-placement="right" title="Compare">
            <svg width="16px" height="16px">
                <use xlink:href="images/svg/sprite.svg#compare-16"></use>
            </svg>
        </button>
    </div>
    <h1 class="product__name">{{product.title | localize}}</h1>
    <div class="product__rating">
        <div class="product__rating-stars">
            <div class="rating">
                <div class="rating__body"><svg class="rating__star rating__star--active"
                        width="13px" height="12px">
                        <g class="rating__fill">
                            <use xlink:href="images/svg/sprite.svg#star-normal"></use>
                        </g>
                        <g class="rating__stroke">
                            <use xlink:href="images/svg/sprite.svg#star-normal-stroke"></use>
                        </g>
                    </svg>
                    <div class="rating__star rating__star--only-edge rating__star--active">
                        <div class="rating__fill">
                            <div class="fake-svg-icon"></div>
                        </div>
                        <div class="rating__stroke">
                            <div class="fake-svg-icon"></div>
                        </div>
                    </div><svg class="rating__star rating__star--active" width="13px"
                        height="12px">
                        <g class="rating__fill">
                            <use xlink:href="images/svg/sprite.svg#star-normal"></use>
                        </g>
                        <g class="rating__stroke">
                            <use xlink:href="images/svg/sprite.svg#star-normal-stroke"></use>
                        </g>
                    </svg>
                    <div class="rating__star rating__star--only-edge rating__star--active">
                        <div class="rating__fill">
                            <div class="fake-svg-icon"></div>
                        </div>
                        <div class="rating__stroke">
                            <div class="fake-svg-icon"></div>
                        </div>
                    </div><svg class="rating__star rating__star--active" width="13px"
                        height="12px">
                        <g class="rating__fill">
                            <use xlink:href="images/svg/sprite.svg#star-normal"></use>
                        </g>
                        <g class="rating__stroke">
                            <use xlink:href="images/svg/sprite.svg#star-normal-stroke"></use>
                        </g>
                    </svg>
                    <div class="rating__star rating__star--only-edge rating__star--active">
                        <div class="rating__fill">
                            <div class="fake-svg-icon"></div>
                        </div>
                        <div class="rating__stroke">
                            <div class="fake-svg-icon"></div>
                        </div>
                    </div><svg class="rating__star rating__star--active" width="13px"
                        height="12px">
                        <g class="rating__fill">
                            <use xlink:href="images/svg/sprite.svg#star-normal"></use>
                        </g>
                        <g class="rating__stroke">
                            <use xlink:href="images/svg/sprite.svg#star-normal-stroke"></use>
                        </g>
                    </svg>
                    <div class="rating__star rating__star--only-edge rating__star--active">
                        <div class="rating__fill">
                            <div class="fake-svg-icon"></div>
                        </div>
                        <div class="rating__stroke">
                            <div class="fake-svg-icon"></div>
                        </div>
                    </div><svg class="rating__star rating__star--active" width="13px"
                        height="12px">
                        <g class="rating__fill">
                            <use xlink:href="images/svg/sprite.svg#star-normal"></use>
                        </g>
                        <g class="rating__stroke">
                            <use xlink:href="images/svg/sprite.svg#star-normal-stroke"></use>
                        </g>
                    </svg>
                    <div class="rating__star rating__star--only-edge rating__star--active">
                        <div class="rating__fill">
                            <div class="fake-svg-icon"></div>
                        </div>
                        <div class="rating__stroke">
                            <div class="fake-svg-icon"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product__rating-legend"><a href="#">7 Reviews</a><span>/</span><a
                href="#">Write A Review</a></div>
    </div>
    <div class="product__description" [innerHTML]="product.shortDescription | localize"></div>
    <ul class="product__features">
        <li>Speed: 750 RPM</li>
        <li>Power Source: Cordless-Electric</li>
        <li>Battery Cell Type: Lithium</li>
        <li>Voltage: 20 Volts</li>
        <li>Battery Capacity: 2 Ah</li>
    </ul>
    <ul class="product__meta">
        <li class="product__meta-availability">Availability: <span class="text-success">In
                Stock</span></li>
        <li>Brand: <a href="#">Wakita</a></li>
        <li>SKU: 83690/32</li>
    </ul>
<!-- .product__info / end -->