.info {
  color: green;
}

.error {
  color: red;
}

.oz-inline {
  display: inline;
  margin-right: 10px;
  white-space: nowrap;
}

.mat-dialog-content {
  height: 65vh;
}

.example-viewport {
  height: 100%;
  width: 100%;
}

.example-item {
  height: 20px;
}

.log-content {
  height: 100%;
  width: 100%;
}