<h1 mat-dialog-title>{{log?.title}}</h1>
<div mat-dialog-content>
  <div class="log-content">
    <cdk-virtual-scroll-viewport itemSize="20" class="example-viewport">
      <div *cdkVirtualFor="let item of log.content" class="example-item">
        <p class="oz-inline">{{item.createDate? (item.createDate | date: 'short') : 'N/A'}} </p>
        <p class="oz-inline" [ngClass]="getLevelClass(item.level)">{{item.level}}</p>
        <p class="oz-inline">{{item.message}}</p>
      </div>
    </cdk-virtual-scroll-viewport>

    <!-- <ng-container *ngFor="let item of log.content">
      <div>
        <p class="oz-inline">{{item.createDate? (item.createDate | date: 'short') : 'N/A'}} </p>
        <p class="oz-inline" [ngClass]="getLevelClass(item.level)">{{item.level}}</p>
        <p class="oz-inline">{{item.message}}</p>
      </div>
    </ng-container> -->
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</div>