<td class="cart-table__column cart-table__column--image">
  <div class="product-image">
    <a href class="product-image__body"
      ><img
        class="product-image__img"
        [src]="getProductPrimaryImage(cartItem.product)" alt="" crossorigin="anonymous"
    /></a>
  </div>
</td>
<td class="cart-table__column cart-table__column--product">
  <a [routerLink]="['/product', cartItem.product._id]" [queryParams] = "{title: cartItem.product.friendlyId | localize}" class="cart-table__product-name"
    >{{cartItem.product.title | localize}}</a
  >
  <ul class="cart-table__options">
    <li>Color: Yellow</li>
    <li>Material: Aluminium</li>
  </ul>
</td>
<td
  class="cart-table__column cart-table__column--price"
  data-title="Price"
>
  GEL {{cartItem.product.price | number: '1.2-2'}}
</td>
<td
  class="cart-table__column cart-table__column--quantity"
  data-title="Quantity"
>
  <div class="input-number">
    <input
      class="form-control input-number__input"
      type="number"
      min="1"
      [value]="cartItem.qty"
      disabled
    />
    <div class="input-number__add" (click)="addQTY(1)"></div>
    <div class="input-number__sub" (click)="addQTY(-1)"></div>
  </div>
</td>
<td
  class="cart-table__column cart-table__column--total"
  data-title="Total"
>
  GEL {{cartItem.qty * cartItem.product.price | number: '1.2-2'}} 
</td>
<td class="cart-table__column cart-table__column--remove">
  <button
    type="button"
    class="btn btn-light btn-sm btn-svg-icon"
    (click)="removeCartItem()"
  >
    <svg width="12px" height="12px">
      <use xlink:href="images/svg/sprite.svg#cross-12" />
    </svg>
  </button>
</td>