table {
  width: 100%;
}

.actions-th {
  width: 20%;
}

.actions-td button {
  outline: none;
  border: none;
  background: none;
}

.delete-btn {
  color: rgb(211, 24, 24)
}

.oz-list-product-image {
  width: 120px;
  height: 160px;
}