<div class="shop-layout__sidebar">
    <div class="block block-sidebar">
        <!-- <app-web-product-listing-sidebar-layout-filters-component></app-web-product-listing-sidebar-layout-filters-component> -->
        <app-web-product-listing-sidebar-layout-filters-v2-component [categories]="categories"></app-web-product-listing-sidebar-layout-filters-v2-component>
        <app-web-product-listing-sidebar-layout-products-component></app-web-product-listing-sidebar-layout-products-component>
    </div>
</div>