<div class="block block-features block-features--layout--classic">
    <div class="container">
        <div class="block-features__list">
            <div class="block-features__item">
                <div class="block-features__icon"><svg width="48px" height="48px">
                        <use xlink:href="images/svg/sprite.svg#fi-free-delivery-48"></use>
                    </svg></div>
                <div class="block-features__content">
                    <div class="block-features__title">Free Shipping</div>
                    <div class="block-features__subtitle">For orders from $50</div>
                </div>
            </div>
            <div class="block-features__divider"></div>
            <div class="block-features__item">
                <div class="block-features__icon"><svg width="48px" height="48px">
                        <use xlink:href="images/svg/sprite.svg#fi-24-hours-48"></use>
                    </svg></div>
                <div class="block-features__content">
                    <div class="block-features__title">Support 24/7</div>
                    <div class="block-features__subtitle">Call us anytime</div>
                </div>
            </div>
            <div class="block-features__divider"></div>
            <div class="block-features__item">
                <div class="block-features__icon"><svg width="48px" height="48px">
                        <use xlink:href="images/svg/sprite.svg#fi-payment-security-48"></use>
                    </svg></div>
                <div class="block-features__content">
                    <div class="block-features__title">100% Safety</div>
                    <div class="block-features__subtitle">Only secure payments</div>
                </div>
            </div>
            <div class="block-features__divider"></div>
            <div class="block-features__item">
                <div class="block-features__icon"><svg width="48px" height="48px">
                        <use xlink:href="images/svg/sprite.svg#fi-tag-48"></use>
                    </svg></div>
                <div class="block-features__content">
                    <div class="block-features__title">Hot Offers</div>
                    <div class="block-features__subtitle">Discounts up to 90%</div>
                </div>
            </div>
        </div>
    </div>
</div>