<!-- 
    departments__submenu departments__submenu--type--menu
    departments__submenu departments__submenu--type--megamenu departments__submenu--size--sm => col-12
    departments__submenu departments__submenu--type--megamenu departments__submenu--size--nl => col-6
    departments__submenu departments__submenu--type--megamenu departments__submenu--size--lg => col-4
    departments__submenu departments__submenu--type--megamenu departments__submenu--size--xl => col-3
-->

<div class="nav-panel__departments">
    <!-- departments--open departments--fixed -->
    <div class="departments" data-departments-fixed-by=".block-slideshow" #departments>
      <div class="departments__body">
        <div class="departments__links-wrapper">
          <div class="departments__submenus-container" ></div>
          <ul class="departments__links">
            <ng-container *ngFor="let category of headerCategories">
                <li class="departments__item" >
                    <a class="departments__item-link">
                        {{category.categoryName | localize}}
                        <svg *ngIf="!!category.hasChild" class="departments__item-arrow" width="6px" height="9px">
                            <use xlink:href="images/svg/sprite.svg#arrow-rounded-right-6x9"/>
                        </svg>
                    </a>
                    <div *ngIf="!!category.hasChild" class="departments__submenu departments__submenu--type--megamenu" 
                        [ngClass]="{
                            'departments__submenu--size--xl': category._columnDrawable && [4,3].indexOf(category._columnDrawable.length) > -1,
                            'departments__submenu--size--lg': category._columnDrawable && [2, 1].indexOf(category._columnDrawable.length) > -1
                        }">
                      <!-- .megamenu -->
                      <div class="megamenu megamenu--departments">
                        <div class="megamenu__body" style="background-image: url(&#x27;images/others/megamenu-1.jpg&#x27;);">
                          <div class="row">
                            <ng-container *ngFor="let raw of category._columnDrawable">
                                <div [ngClass]="{ 
                                    'col-3': category._columnDrawable && [4,3].indexOf(category._columnDrawable.length) > -1,
                                    'col-4': category._columnDrawable && [2, 1].indexOf(category._columnDrawable.length) > -1
                                }">
                                    <ul class="megamenu__links megamenu__links--level--0">
                                        <ng-container *ngFor="let rawCat of raw">
                                            <li class="megamenu__item" [ngClass]="{'megamenu__item--with-submenu': rawCat.hasChild}">
                                                <a href>{{rawCat.categoryName | localize}}</a>
                                                <ul *ngIf="rawCat.hasChild" class="megamenu__links megamenu__links--level--1">
                                                    <ng-container *ngFor="let rawSubCat of rawCat._childCategories">
                                                        <li  class="megamenu__item">
                                                            <a href>{{rawSubCat.categoryName | localize}}</a>
                                                          </li>
                                                    </ng-container>
                                                </ul>
                                              </li>
                                        </ng-container>
                                    </ul>
                                  </div>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                      <!-- .megamenu / end -->
                    </div>
                  </li>
            </ng-container>
          </ul>
        </div>
      </div>
      <button class="departments__button" >
        <svg class="departments__button-icon" width="18px" height="14px">
          <use xlink:href="images/svg/sprite.svg#menu-18x14" />
        </svg>
        Shop By Category
        <svg class="departments__button-arrow" width="9px" height="6px">
          <use xlink:href="images/svg/sprite.svg#arrow-rounded-down-9x6"/>
        </svg>
      </button>
    </div>
  </div>