:host ::ng-deep .wrapper {
  width: 100%;
  height: 100%;
  position: absolute;

  background-color: #d8d8d8;
}

:host ::ng-deep .wrapper .wrapper-row {
  padding: 5px 5px;
  margin: 5px 5px;
  min-height: 50px;

  background-color: #ffffff;
}