<div class="container" *ngIf="addProductPriceAndDiscountsFormGroup">
  <form [formGroup]="addProductPriceAndDiscountsFormGroup" class="product-price-and-discounts-form" autocomplete="off">

    <div class="oz-row row">
      <mat-form-field class="col-md-4">
        <mat-label>Product Quantity</mat-label>
        <input matInput placeholder="Product Quantity" formControlName="quantity" type="number">
      </mat-form-field>
    
      <mat-form-field class="col-md-4">
        <mat-label>Product Price</mat-label>
        <input matInput placeholder="Price" formControlName="price" type="number">
      </mat-form-field>
    
      <mat-form-field class="col-md-4">
        <mat-label>Currency</mat-label>
        <mat-select formControlName="currency">
          <mat-option [value]="'GEL'">GEL</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
  </form>
  
  <div>
    <button mat-button (click)="submitProductPriceAndDiscountsForm()" [disabled]="!addProductPriceAndDiscountsFormGroup.valid">{{!!product?._id ? 'Update' : 'Create'}} Product Price And Discounts</button>
  </div>
</div>