<mat-toolbar>
    <mat-icon matTooltip="Add New Category" class="oz-icon" (click)="createCategoryClickandler(null)">add</mat-icon>
</mat-toolbar>

<ul id="myUL">
  <ng-container
    *ngTemplateOutlet="categoriesTemplateWithDragulaDragAndDrop; context: {_categoriesContainer: {categories: allCategories}, _parent: null, _iteration: 0}">
  </ng-container>
</ul>

<ng-template #categoriesTemplateWithDragulaDragAndDrop let-categoriesContainer="_categoriesContainer" let-parent="_parent"
  let-iteration="_iteration">
  <div #dropContainer [dragula]="'DRAGULA_CATEGORIES'" [(dragulaModel)]="categoriesContainer.categories" [id]="parent? parent._id : ''"
    class="container oz-drop-container">
    <div *ngFor="let category of categoriesContainer.categories" id="{{category._id}}">
      <li class="example-box">

        <div class="inline category-header">
          <div class="inline oz-caret" (click)="toggleCategory(category)">
            <mat-icon *ngIf="!isOpen(category)">keyboard_arrow_right</mat-icon>
            <mat-icon *ngIf="isOpen(category)">keyboard_arrow_down</mat-icon>
          </div>
          <div class="inline">
            <span>{{category?.sortWeight}}. {{category?.categoryName?.en}}</span>
          </div>
        </div>

        <mat-icon (mousedown)="closeCategory(category)" matTooltip="Move Category" class="oz-icon handles-drag">open_with</mat-icon>
        
        <mat-toolbar class="oz-category-toolbar">
            <mat-icon matTooltip="Duplicate Category" class="oz-icon">file_copy</mat-icon>
            <mat-icon matTooltip="Add New Category" class="oz-icon" (click)="createCategoryClickandler(category)">add</mat-icon>
            <mat-icon matTooltip="Edit Category" class="oz-icon" (click)="updateCategoryClickHandler(category)">edit</mat-icon>
            <mat-icon matTooltip="Delete Category" class="oz-icon oz-delete" (click)="deleteCategoryClickHandler(category)">delete_forever</mat-icon>
        </mat-toolbar>
        
        <ul #nested class="nested" class="active" *ngIf="isOpen(category)">
          <ng-container
            *ngTemplateOutlet="categoriesTemplateWithDragulaDragAndDrop; context: {_categoriesContainer: {categories: category.childCategories}, parent: category, iteration: iteration + 1}">
          </ng-container>
        </ul>
      </li>
    </div>
  </div>
</ng-template>

<!-- [connectedTo]="getConnectedToArray(dropContainer)" -->