::ng-deep .oz-content {
  padding: 20px;
}

::ng-deep .inline {
  display: inline;
}

::ng-deep .store-info-form mat-form-field {
  display: block;
}

::ng-deep .owner-form mat-form-field {
  display: block;
}
::ng-deep .cantact-info-form mat-form-field {
  display: block;
}

::ng-deep .cantact-info-form .inline-form-fields mat-form-field {
  display: inline-block;
  width:  18%;
  padding-right: 3%;
}

::ng-deep table {
  width: 100%;
}