<form [formGroup]="businessFormGroup" class="owner-form">       
  <mat-form-field>
    <input matInput placeholder="Business Name" formControlName="businessDisplayName" required>
  </mat-form-field>

  <mat-form-field class="example-chip-list">
    <mat-chip-list #categoryChipList aria-label="Category Selection">
      <mat-chip
        *ngFor="let category of businessData.businessCategories"
        [selectable]="categoryChipConfig.selectable"
        [removable]="categoryChipConfig.removable"
        (removed)="remove(category)">
        {{category?.categoryName?.en}}
        <mat-icon matChipRemove *ngIf="categoryChipConfig.removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="New Category..."
        #categoryInput
        formControlName="businessCategories"
        [matAutocomplete]="categoryAutoComplete"
        [matChipInputFor]="categoryChipList"
        [matChipInputSeparatorKeyCodes]="categoryChipConfig.separatorKeysCodes"
        [matChipInputAddOnBlur]="categoryChipConfig.addOnBlur"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #categoryAutoComplete="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
        {{category?.categoryName?.en}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Business Identification Code" formControlName="identificationCode" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Business Registration Code" formControlName="registrationCode" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="regDatePicker" placeholder="Choose a date" formControlName="registrationDate">
    <mat-datepicker-toggle matSuffix [for]="regDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #regDatePicker></mat-datepicker>
  </mat-form-field>
  
</form>

<div>
  <button mat-button>Submit</button>
</div>