<div class="wrapper">
  <div class="wrapper-row">
    <app-generic-filter [query]="query" (filterChange)="filterChange($event)" [numTotal]="numTotal"></app-generic-filter>
  </div>
  <div class="wrapper-row">
    <app-toolbar (createHandler)="createManagerHandler()"></app-toolbar>
  </div>
  <div class="wrapper-row">
    <app-list [items]="items" (editHandler)="editManagerHandler($event)" (deleteHandler)="deleteManagerClickhandler($event)"></app-list>
  </div>
</div>